<section class="bulk-section">
    <div class="bulk-section-main">
        <div class="page-heading">
            <div class="heading-txt">
                <div>
                    <mat-icon>local_shipping</mat-icon>
                </div>
                <div class="heading-flex">
                    <h1>BULK ITEM UPLOAD</h1>
                    <a href="#" class="left-tag">Normal View</a>
                    <a href="#" class="right-tag">Tab View</a>
                    <a class="right-tag link2" (click)="dublicatitemspopup()">CHECK DUPLICATE ITEMS</a>

                </div>
            </div>

            <div class="button-dropdown">
                <div class="button">
                    <button mat-raised-button color="primary" class="orange-badge" routerLink="/scanship/bulkhistory">VIEW UPLOAD
            HISTORY</button>
                </div>
                <div class="dropdown">

                    <label>MARKETPLACE:</label>
                    <mat-form-field appearance="fill">
                        <mat-select>
                            <mat-option value="option">SHOW ALL</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>
        </div>
        <div class="upload-section">
            <div class="upload-file-setting">
                <div class="heading-text">
                    <h3>CHOOSE HOW YOU WISH TO UPLOAD YOUR ITEMS:</h3>
                </div>
                <div class="heading-icon">
                    <mat-icon>settings</mat-icon>
                </div>
            </div>
            <div class="upload-main">
                <div class="flex1">
                    <h1>FILE UPLOAD
                    </h1>
                </div>
                <div class="flex2">
                    <p>Download the template, fill in the spreadsheet and upload it here to submit multiple items at once.</p>
                </div>

                <div class="flex3">
                    <div class="input-type-file-style">
                        <label for="profilepic">Bulk-Upload-Template.csv
              <img src="/assets/images/input.png">
            </label>
                        <!-- <input id="profilepic" #fileinput (change)="onFileChange($event.target.files);fileinput.value=''" type="file"  accept=".png,.jpg,.jpeg" formControlName="profile_pic"> -->
                        <input type="file" placeholder="Bulk-Upload-Template.csv" id="profilepic" class="custom-inputs">
                    </div>

                    <button mat-raised-button color="primary" class="dark-green upload">UPLOAD</button>
                    <div class="file-icon">
                        <h3>DOWNLOAD<br> TEMPLATE
                        </h3>
                        <mat-icon>task</mat-icon>
                    </div>
                </div>

            </div>

            <div class="file-table-section">
                <div class="file-in-form">
                    <div class="flex1">
                        <h1>FILE UPLOAD
                        </h1>
                    </div>
                    <div class="flex2">
                        <p>Download the template, fill in the spreadsheet and upload it here to submit multiple items at once.</p>
                    </div>
                    <div class="flex3">
                        <div class="drop-heading">
                            <h1>
                                DEFAULT<br> SETTINGS:
                            </h1>
                        </div>
                        <div class="prep-owner">
                            <div class="dropdown">

                                <label>LABEL | PREP OWNER:</label>
                                <mat-form-field appearance="fill">
                                    <mat-select>
                                        <mat-option value="option">SELLER
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="condition">
                            <div class="dropdown">

                                <label>CONDITION:</label>
                                <mat-form-field appearance="fill">
                                    <mat-select>
                                        <mat-option value="option">SELLER
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-main">
                    <table>
                        <tr>
                            <th></th>
                            <th>SKU</th>
                            <th>ASIN | UPC</th>
                            <th>Unit Qty
                            </th>
                            <th>Units | Case</th>
                            <th>Case Qty</th>
                            <th>Price</th>
                            <th>Condition</th>
                            <th> Label Owner</th>
                            <th>Prep Owner</th>
                            <th>Custom Pile</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>
                                <input type="text" class="custom-inputs input-width">
                            </td>
                            <td>
                                <input type="text" class="custom-inputs input-width">
                            </td>
                            <td>
                                <input type="text" class="custom-inputs input-width">
                            </td>
                            <td>
                                <input type="text" class="custom-inputs input-width">
                            </td>
                            <td>
                                <input type="text" class="custom-inputs input-width">
                            </td>
                            <td>
                                <input type="text" class="custom-inputs input-width">
                            </td>
                            <td>
                                <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">NEW</option>

                </select>
                            </td>
                            <td>
                                <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select>
                            </td>
                            <td>
                                <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select>
                            </td>
                            <td><select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">Z Pile</option>

                </select></td>
                            <td>
                                <img src="/assets/images/plus.png" alt="">
                            </td>

                        </tr>
                    </table>

                </div>
            </div>
            <!-- 2nd table -->
            <div class="file-table-section">
                <div class="file-in-form">
                    <div class="flex1">
                        <h1>FILE UPLOAD
                        </h1>
                    </div>
                    <div class="flex2">
                        <p>Copy|paste columns from a spreadsheet directly into the table below. The “SKU” and “Unit Qty” fields are required.
                        </p>
                    </div>
                    <div class="flex3">
                        <div class="drop-heading">
                            <h1>
                                DEFAULT<br> SETTINGS:
                            </h1>
                        </div>
                        <div class="prep-owner">
                            <div class="dropdown">

                                <label>LABEL | PREP OWNER:</label>
                                <mat-form-field appearance="fill">
                                    <mat-select>
                                        <mat-option value="option">SELLER
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="condition">
                            <div class="dropdown">

                                <label>CONDITION:</label>
                                <mat-form-field appearance="fill">
                                    <mat-select>
                                        <mat-option value="option">SELLER
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-main">
                    <table>
                        <tr>
                            <th></th>
                            <th>SKU</th>
                            <th>ASIN | UPC</th>
                            <th>Unit Qty
                            </th>
                            <th>Units | Case</th>
                            <th>Case Qty</th>
                            <th>Price</th>
                            <th>Condition</th>
                            <th> Label Owner</th>
                            <th>Prep Owner</th>
                            <th>Custom Pile</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">NEW</option>

                </select> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select>-->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">Z Pile</option>

                </select>-->
                            </td>
                            <td>
                                <!-- <img src="/assets/images/plus.png" alt=""> -->
                            </td>

                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">NEW</option>

                </select> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select>-->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">Z Pile</option>

                </select>-->
                            </td>
                            <td>
                                <!-- <img src="/assets/images/plus.png" alt=""> -->
                            </td>

                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">NEW</option>

                </select> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select>-->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">Z Pile</option>

                </select>-->
                            </td>
                            <td>
                                <!-- <img src="/assets/images/plus.png" alt=""> -->
                            </td>

                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">NEW</option>

                </select> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select>-->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">Z Pile</option>

                </select>-->
                            </td>
                            <td>
                                <!-- <img src="/assets/images/plus.png" alt=""> -->
                            </td>

                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">NEW</option>

                </select> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select>-->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">Z Pile</option>

                </select>-->
                            </td>
                            <td>
                                <!-- <img src="/assets/images/plus.png" alt=""> -->
                            </td>

                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <input type="text" class="custom-inputs input-width"> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">NEW</option>

                </select> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select> -->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">SELLER</option>

                </select>-->
                            </td>
                            <td>
                                <!-- <select name="cars" id="cars" class="custom-inputs input-width">
                  <option value="NEW">Z Pile</option>

                </select>-->
                            </td>
                            <td>
                                <!-- <img src="/assets/images/plus.png" alt=""> -->
                            </td>

                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="submit-section">
            <div class="flex1">
                <h1>ITEMS TOTAL: <span><b>SKU | 1 UNITS</b></span> </h1>
            </div>
            <div class="flex2">
                <h2>SHIP FROM:</h2>
            </div>
            <div class="flex3">

                <mat-form-field appearance="fill">
                    <mat-select>
                        <mat-option value="SellerChain, 1060 Linwood...">SellerChain, 1060 Linwood...</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex4">
                <button mat-raised-button color="primary" (click)="submitDialog()" class="dark-green">SUBMIT</button>

            </div>
            <div class="flex5">
                <mat-form-field appearance="fill">
                    <mat-select>
                        <mat-option value="UPLOAD TO CUSTOM PILE">UPLOAD TO CUSTOM PILE</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</section>