<section class="content-details-section">
    <div class="content-details-main">
        <!-- ////////////////// BOX CONTENT HEADING HTML/////////////// -->
        <div class="page-heading">
            <div class="heading-txt">
                <div>
                    <mat-icon>local_shipping</mat-icon>
                </div>
                <div class="heading-flex">
                    <h1>Box Content Dashboard</h1>
                </div>
            </div>

            <div class="box-content-button">
                <div class="button">

                </div>

            </div>
        </div>

        <!-- ////////////////// BOX CONTENT FIELDS HTML/////////////// -->
        <div class="field-flex">
            <div class="fields-main">
                <div class="input-main">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Sear For SKU ASIN,...">
                    </mat-form-field>
                </div>
                <div class="search-btn">
                    <button mat-button color="primary">SEARCH</button>
                </div>
                <div class="select-field-main">
                    <select class="custom-inputs select-field">
                        <option>SCAN TO BOX</option>
                        <option>SCAN TO BOX</option>
                        <option>SCAN TO BOX</option>
                    </select>
                </div>
            </div>

            <div class="field-right">

            </div>
        </div>
        <!-- ////////////////// BOX CONTENT -- DESTAIL --- TABS/////////////// -->
        <div cdkDropListGroup class="boxes-tabs-section">
            <div class="left-flex">
                <div class="boxes-tabs">
                    <mat-tab-group>
                        <mat-tab label="First">
                            <ng-template mat-tab-label>
                                <h2 class="heading">All</h2>
                            </ng-template>
                            <div class="tab-main">
                                <div class="table-mian">
                                    <table cdkDropList [cdkDropListData]="productList" class="example-list"
                                        (cdkDropListDropped)="drop($event)">

                                        <tr cdkDrag [cdkDragData]="product" *ngFor='let product of productList'>
                                            <td>
                                                <img src="/assets/images/watch.png">
                                            </td>
                                            <td>
                                                <h3>ASIN:</h3>
                                                <p>{{product.asin}}</p>
                                            </td>
                                            <td>
                                                <h3>SKU:</h3>
                                                <p>{{product.sku}}</p>
                                            </td>
                                            <td>
                                                <h3>FNSKU:</h3>
                                                <p>{{product.fnsku}}</p>
                                            </td>
                                            <td>
                                                <h3>Quantity:</h3>
                                                <p>{{product.quanity}}</p>
                                            </td>
                                            <td>
                                                <h3>Remaining Quantity:</h3>
                                                <p>{{product.remaining_quantity}}</p>
                                            </td>
                                            <td>
                                                <h3>Labeling Requaired:</h3>
                                                <p>{{product.required_labeling? 'Yes': 'No'}}</p>
                                            </td>
                                            <td>
                                                <button mat-button color="primary" (click)="saplitpopup()"
                                                    class="orange-badge split">Split
                                                    Me</button>
                                            </td>
                                            <td>
                                                <button mat-button color="primary" class="dark-gray-bdg Print">Print
                                                    Item
                                                    Lable
                                                    ALL</button>
                                            </td>
                                            <td>
                                                <mat-icon><span class="material-icons" (click)="warningpopup()">
                                                        delete
                                                    </span></mat-icon>
                                            </td>
                                        </tr>
                                        <tr *ngIf='!productList.length'>No Products</tr>
                                    </table>

                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Second">
                            <ng-template mat-tab-label>
                                <h2 class="heading">Unboxed</h2>
                            </ng-template>
                            <div class="tab-main">
                                <div class="table-mian">
                                    <table cdkDropList [cdkDropListData]="productList" class="example-list"
                                        (cdkDropListDropped)="drop($event)">

                                        <tr cdkDrag [cdkDragData]="product" *ngFor='let product of productList'>
                                            <td>
                                                <img src="/assets/images/watch.png">
                                            </td>
                                            <td>
                                                <h3>ASIN:</h3>
                                                <p>{{product.asin}}</p>
                                            </td>
                                            <td>
                                                <h3>SKU:</h3>
                                                <p>{{product.sku}}</p>
                                            </td>
                                            <td>
                                                <h3>FNSKU:</h3>
                                                <p>{{product.fnsku}}</p>
                                            </td>
                                            <td>
                                                <h3>Quantity:</h3>
                                                <p>{{product.quanity}}</p>
                                            </td>
                                            <td>
                                                <h3>Remaining Quantity:</h3>
                                                <p>{{product.remaining_quantity}}</p>
                                            </td>
                                            <td>
                                                <h3>Labeling Requaired:</h3>
                                                <p>{{product.required_labeling? 'Yes': 'No'}}</p>
                                            </td>
                                            <td>
                                                <button mat-button color="primary" (click)="saplitpopup()"
                                                    class="orange-badge split">Split
                                                    Me</button>
                                            </td>
                                            <td>
                                                <button mat-button color="primary" class="dark-gray-bdg Print">Print
                                                    Item
                                                    Lable
                                                    ALL</button>
                                            </td>
                                            <td>
                                                <mat-icon><span class="material-icons" (click)="warningpopup()">
                                                        delete
                                                    </span></mat-icon>
                                            </td>
                                        </tr>
                                        <tr *ngIf='!productList.length'>No Products</tr>
                                    </table>

                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Third">
                            <ng-template mat-tab-label>
                                <h2 class="heading">Boxed</h2>
                            </ng-template>
                            <div class="tab-main">
                                <div class="table-mian">
                                    <table cdkDropList [cdkDropListData]="productList" class="example-list"
                                        (cdkDropListDropped)="drop($event)">

                                        <tr cdkDrag *ngFor='let product of productList'>
                                            <td>
                                                <img src="/assets/images/watch.png">
                                            </td>
                                            <td>
                                                <h3>ASIN:</h3>
                                                <p>{{product.asin}}</p>
                                            </td>
                                            <td>
                                                <h3>SKU:</h3>
                                                <p>{{product.sku}}</p>
                                            </td>
                                            <td>
                                                <h3>FNSKU:</h3>
                                                <p>{{product.fnsku}}</p>
                                            </td>
                                            <td>
                                                <h3>Quantity:</h3>
                                                <p>{{product.quanity}}</p>
                                            </td>
                                            <td>
                                                <h3>Remaining Quantity:</h3>
                                                <p>{{product.remaining_quantity}}</p>
                                            </td>
                                            <td>
                                                <h3>Labeling Requaired:</h3>
                                                <p>{{product.required_labeling? 'Yes': 'No'}}</p>
                                            </td>
                                            <td>
                                                <button mat-button color="primary" (click)="saplitpopup()"
                                                    class="orange-badge split">Split
                                                    Me</button>
                                            </td>
                                            <td>
                                                <button mat-button color="primary" class="dark-gray-bdg Print">Print
                                                    Item
                                                    Lable
                                                    ALL</button>
                                            </td>
                                            <td>
                                                <mat-icon><span class="material-icons" (click)="warningpopup()">
                                                        delete
                                                    </span></mat-icon>
                                            </td>
                                        </tr>
                                        <tr *ngIf='!productList.length'>No Products</tr>
                                    </table>

                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <div class="right-flex">
                <div (cdkDropListDropped)="drop($event)" [cdkDropListData]="chosenProducts" cdkDropList
                    class="right-boxes-back">
                    <h1>Boxes</h1>
                    <div class="boxes-over-flow">
                        <div class="boxes-min-hight">
                            <div class="box-mian select">
                                <div class="box-mian-padding">
                                    <div class="box-btns  spacing">
                                        <button mat-button color="primary" class="light-green box1">Box1</button>
                                        <button mat-button color="primary" class="orange-badge box1">Genrate
                                            Barcode</button>
                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Item:4</span>

                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Weight:2.5lb</span>
                                        <!-- <button mat-button color="primary" class="light-green box1">Box1</button> -->
                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Weight:4</span>
                                        <!-- <button mat-button color="primary" class="light-green box1">Box1</button> -->
                                    </div>
                                </div>

                                <div class="drop-here">
                                    <p>Drop Here In Box</p>
                                </div>
                            </div>
                            <div class="box-mian">
                                <div class="box-mian-padding">
                                    <div class="box-btns  spacing">
                                        <button mat-button color="primary" class="light-green box1">Box1</button>
                                        <button mat-button color="primary" class="orange-badge box1">Genrate
                                            Barcode</button>
                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Item:4</span>

                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Weight:2.5lb <mat-icon>warning</mat-icon></span>
                                        <button mat-button color="primary" class="red-badge  box1">Warning</button>
                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Weight:4</span>
                                        <span class="over30">Over 30.5lb</span>
                                    </div>
                                </div>

                                <div class="drop-here">
                                    <p>Drop Here In Box</p>
                                </div>
                            </div>
                            <div class="box-mian">
                                <div class="box-mian-padding">
                                    <div class="box-btns  spacing">
                                        <button mat-button color="primary" class="light-green box1">Box1</button>
                                        <button mat-button color="primary" class="orange-badge box1">Genrate
                                            Barcode</button>
                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Item:4</span>

                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Weight:2.5lb</span>
                                        <button mat-button color="primary" class="light-green box1">Mech Lift</button>
                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Weight:4</span>
                                        <button mat-button color="primary" class="light-green box1">Heavy</button>
                                    </div>
                                </div>

                                <div class="drop-here">
                                    <p>Drop Here In Box</p>
                                </div>
                            </div>
                            <div class="box-mian">
                                <div class="box-mian-padding">
                                    <div class="box-btns  spacing">
                                        <button mat-button color="primary" class="light-green box1">Box1</button>
                                        <button mat-button color="primary" class="orange-badge box1">Genrate
                                            Barcode</button>
                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Item:4</span>

                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Weight:2.5lb</span>
                                        <button mat-button color="primary" class="light-green box1">Mech Lift</button>
                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Weight:4</span>
                                        <button mat-button color="primary" class="light-green box1">Heavy</button>
                                    </div>
                                </div>

                                <div class="drop-here">
                                    <p>Drop Here In Box</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="box-add-btns">
                        <button mat-button color="primary" class=" Print-box">Print Box
                            (s)</button>
                        <button mat-button color="primary" class="blue-btn add-box" (click)="addboxgpopup()">Add
                            BOX</button>
                    </div>
                    <!-- <div class="box-add-btns">
                        <button mat-button color="primary" class=" Print-box">Add Box Dimensions</button>
                        <button mat-button color="primary" class="blue-btn add-box">Delete Box</button>
                    </div> -->


                    <!-- <table class="chosenProductsTable">

                      <tr cdkDrag [cdkDragData]="product" *ngFor='let product of chosenProducts'>
                          <td>
                              <img src="/assets/images/watch.png">
                          </td>
                          <td>
                              <h3>ASIN:</h3>
                              <p>{{product.asin}}</p>
                          </td>
                          <td>
                              <h3>SKU:</h3>
                              <p>{{product.sku}}</p>
                          </td>
                          <td>
                              <h3>FNSKU:</h3>
                              <p>{{product.fnsku}}</p>
                          </td>
                          <td>
                              <h3>Quantity:</h3>
                              <p>{{product.quanity}}</p>
                          </td>
                          <td>
                              <h3>Remaining Quantity:</h3>
                              <p>{{product.remaining_quantity}}</p>
                          </td>
                          <td>
                              <h3>Labeling Requaired:</h3>
                              <p>{{product.required_labeling? 'Yes': 'No'}}</p>
                          </td>
                          <td>
                              <button mat-button color="primary" (click)="saplitpopup()"
                                  class="orange-badge split">Split
                                  Me</button>
                          </td>
                          <td>
                              <button mat-button color="primary" class="dark-gray-bdg Print">Print
                                  Item
                                  Lable
                                  ALL</button>
                          </td>
                          <td>
                              <mat-icon><span class="material-icons" (click)="warningpopup()">
                                      delete
                                  </span></mat-icon>
                          </td>
                      </tr>

                      <tr *ngIf='!chosenProducts.length'>No Products</tr>
                  </table> -->
                </div>
            </div>
        </div>




    </div>
</section>