@import "/src/assets/styles/variables.scss";

// .chosenProductsTable tr {
// }
.cdk-drag-placeholder {
  td {
    // display: none;
    // padding: 0px 10px;
    // .table-check {
    //   display: none;
    // }
    // img {
    //   width: 70px;
    //   display: none;
    // }
    // h3 {
    //   font-size: 13px;
    //   margin-bottom: 5px;
    //   font-weight: 600;
    //   line-height: 1;
    //   display: none;
    // }
    // p {
    //   font-size: 12px;
    //   margin-bottom: 5px;
    //   line-height: 1;
    //   display: none;
    // }
    // .split {
    //   color: #fff;
    //   font-size: 11px;
    //   line-height: 30px;
    //   display: none;
    // }
    // .Print {
    //   color: #fff;
    //   font-size: 11px;
    //   line-height: 30px;
    //   display: none;
    // }
    // .remove {
    //   color: #d32d23;
    //   background: transparent;
    //   border: 1px solid;
    //   padding: 4px 4px;
    //   line-height: 1;
    //   margin-top: 10px;
    //   display: none;
    // }
    // .mat-icon {
    //   color: #d32d23;
    //   display: none;
    // }
    // .overweight-inputs {
    //   display: none;
    // }
    // .overweight-main {
    //   display: none;
    // }
    // .boxes-main {
    //   display: none;
    // }
  }
}
.cdk-drag.cdk-drag-placeholder {
  display: block;
}

.cdk-drop-list tr.cdk-drag-placeholder {
  display: none !important;
}

.cdk-drop-list-receiving.box-recive {
  border: 1px dotted #7ac943 !important;
}
.cdk-drop-list-dragging.box-recive {
  border: 2px dotted #7ac943 !important;
  background-color: #afff5f1c !important;
}
// .cdk-drag-placeholder.box-recive {
//   border: 4px solid #d32d23 !important;
// }
.cdk-drag-preview {
  table {
    width: 100px;
  }
  td {
    padding: 0px 10px;
    // display: none;

    .product-main {
      img {
        width: 70px;
      }
      h3 {
        font-size: 13px;
        margin-bottom: 5px;
        font-weight: 600;
        line-height: 1;
        // display: none;
      }
      p {
        font-size: 12px;
        margin-bottom: 5px;
        line-height: 1;
        // display: none;
      }
    }
    .table-check {
      display: none;
    }

    .split {
      color: #fff;
      font-size: 11px;
      line-height: 30px;
      display: none;
    }
    .Print {
      color: #fff;
      font-size: 11px;
      line-height: 30px;
      display: none;
    }
    .remove {
      color: #d32d23;
      background: transparent;
      border: 1px solid;
      padding: 4px 4px;
      line-height: 1;
      margin-top: 10px;
      display: none;
    }
    .overweight-inputs {
      display: none;
    }
    .overweight-main {
      display: none;
    }
    .boxes-main {
      display: none;
    }
    .mat-icon {
      color: #d32d23;
      display: none;
    }
  }
}
.chosenbox {
  border: 1px solid #7ac943 !important;
  background-color: #7ac9431f !important;
}
.deleteBox {
  color: #d32d23;
}
::ng-deep .content-details-section {
  margin-left: 10px;
  .content-details-main {
    ////////////////// BOX CONTENT HEADING STYLE///////////////
    .page-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #b7bfbe;
      .heading-txt {
        display: flex;
        align-items: center;
        .mat-icon {
          font-size: 60px;
          color: #3eadf2;
          margin-right: 10px;
          width: 64px;
          height: 64px;
          vertical-align: middle;
        }
        .heading-flex {
          display: flex;
          align-items: center;
          h1 {
            margin: 0;
            font-size: 30px;
            color: #3eadf2;
            font-weight: 700;
            margin-right: 10px;
          }
        }
      }
    }
    ////////////////// field-flex --STYLE///////////////
    .field-flex {
      display: flex;
      align-items: center;
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #b7bfbe;
      .fields-main {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        .input-main {
          margin-left: 20px;
          flex: 1;
          .mat-form-field {
            width: 100%;
          }

          .mat-form-field-infix {
            padding: 10px 0 !important;
            border-top: none !important;
          }
          .mat-form-field-wrapper {
            padding-bottom: 0px !important;
          }
          .mat-form-field-appearance-fill .mat-form-field-flex {
            background-color: white !important;
            border: 1px solid #e3e3e5 !important;
          }
          .mat-form-field-appearance-fill .mat-form-field-flex {
            border-radius: 4px 4px 4px 4px !important;
            padding: 0px 9px 0px 9px !important;
          }
          .mat-form-field-underline {
            width: auto !important;
          }
        }
        .search-btn {
          .browse {
            background-color: #afb0b3 !important;
          }
          .mat-button,
          .mat-icon-button,
          .mat-stroked-button {
            background-color: #00aeef;
            margin-left: 20px;
          }
          .mat-button.mat-primary,
          .mat-icon-button.mat-primary,
          .mat-stroked-button.mat-primary {
            color: #ffffff;
          }
        }
        .select-field-main {
          .select-field {
            background-color: #fff;
            margin-left: 20px;
          }
        }
      }
      .field-right {
        flex-basis: 50%;
        text-align: right;
        .box-setup {
          color: #fff;
        }
      }
    }
    ////////////////// box-manifest --STYLE///////////////
    .box-manifest-table {
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #b7bfbe;
      .box-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        .flex1 {
          display: flex;
          align-items: center;
          flex-basis: 33%;

          .heading {
            margin-right: 20px;
            label {
              font-size: 15px;
              color: #f04926;
            }
          }
          .content {
            .box-select {
              background-color: #fff;
              width: 230px;
              padding: 5px 5px;
            }
            P {
              font-size: 13px;
              color: #000;
              font-weight: 400;
              margin-bottom: 0px;
              line-height: 1;
            }
          }
        }
      }
    }

    ////////////////// boxes-tabs-section --STYLE///////////////
    .boxes-tabs-section {
      display: flex;
      margin-top: 30px;

      .left-flex {
        flex-basis: 68%;
        margin-right: 10px;
        max-width: 100%;

        .boxes-tabs {
          // background-color: #fff;
          // border: 1px solid #b7bfbe;
          .mat-ink-bar {
            background-color: $secondarycolor !important;
          }
          .mat-tab-body.mat-tab-body-active {
            background-color: #ffff !important;

            // border-right: 1px solid #b7bfbe;
            // border-left: 1px solid #b7bfbe;
            // border-bottom: 1px solid #b7bfbe;
          }
          .mat-tab-label-active {
            .mat-tab-label-content {
              h2 {
                color: #f04926;
              }
            }
          }
          .mat-ink-bar {
            background-color: #ffff;
          }

          .mat-tab-label {
            h2 {
              color: #616161;
            }
            h2:hover {
              color: #f04926;
            }
          }
          .mat-tab-label {
            border: 1px solid #b7bfbe;
            border-radius: 5px;
            border-bottom: none;
            background-color: #ffffff;
            margin-right: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
          .paginator {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ffffff;
            border: 1px solid #b7bfbe;
            border-radius: 3px;
            padding: 3px 4px;
            margin-bottom: 15px;
            .pagination-top {
              .mat-form-field-appearance-legacy .mat-form-field-wrapper {
                padding-bottom: 0px;
              }
              .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
                cursor: pointer;
                border: 1px solid #61616150 !important;
                border-radius: 4px;
              }
              .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
                transform: unset;
              }
              .mat-form-field-underline {
                width: auto;
              }
              .mat-form-field-infix {
                width: 250px;
                padding: 10px 0px 10px 8px;
                border: 0;
              }
            }
            .check-paginator {
              display: flex;
              .check-main {
                margin-right: 10px;
                color: #999999;
              }
              .check-txt {
                p {
                  margin-bottom: 0;
                  font-size: 13px;
                  color: #999999;
                  span {
                    border-radius: 2px;
                    padding: 2px 6px;
                    margin-right: 5px;
                    font-size: 14px;
                    color: #fff;
                    font-weight: 500;
                  }
                }
              }
            }
          }
          .heading {
            font-size: 20px;
            margin-bottom: 0;
            line-height: 1;
          }
          .tab-main {
            .table-mian {
              table {
                width: 100%;
                border-collapse: collapse;
                .row-back {
                  background-color: #fff;
                }
                .overweight-td {
                  text-align: center;
                }
                td {
                  border-bottom: 1px solid #b7bfbe;
                  border-top: 1px solid #b7bfbe;
                  padding: 5px 10px;

                  .table-check {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .mat-icon {
                      font-size: 18px;
                      width: 18px;
                      height: 18px;
                      margin-top: 45px;
                      color: #999999;
                    }
                  }
                  .product-main {
                    display: flex;

                    .product-img {
                      width: 100px;
                      img {
                        width: 100%;
                      }
                    }
                    .image-text {
                      h3 {
                        margin-bottom: 10px;
                        line-height: 1;
                        font-size: 13px;
                        color: #00aeef;
                        font-weight: 600;
                      }
                      p {
                        margin-bottom: 5px;
                        line-height: 1;
                        font-size: 11px;
                        span {
                          font-size: 11px;
                          font-weight: 600;
                        }
                        .red {
                          color: #f04926;
                          font-weight: 300;
                          font-size: 11px;
                        }
                      }
                    }
                  }
                  .overweight-main {
                    border: 1px solid #f04926;
                    border-radius: 4px;
                    padding: 4px 20px;
                    h3 {
                      margin-bottom: 0%;
                      line-height: 1;
                      font-size: 11px;
                      font-weight: 500;
                      .mat-icon {
                        width: 20px;
                        height: 20px;
                        font-size: 20px;
                        vertical-align: middle;
                        color: #ffc032;
                      }
                      span {
                        color: #f04926;
                      }
                    }
                  }

                  .overweight-inputs {
                    .flex-center {
                      justify-content: center;
                    }
                    .flex1 {
                      display: flex;
                      align-items: center;
                      .inputs-mian {
                        display: flex;
                        align-items: center;
                        margin-left: 10px;
                        margin-top: 10px;

                        label {
                          font-size: 12px;
                          font-weight: 500;
                        }
                        .quanity-border {
                          border: 1px solid #66666650;
                          padding: 5px 15px;
                          text-align: center;
                          margin-left: 10px;
                          border-radius: 3px;
                          p {
                            font-size: 10px;
                            font-weight: 600;
                            margin-bottom: 0px;
                            line-height: 1;
                          }
                        }
                        .box-input {
                          width: 70px;
                          background-color: #fff;
                          margin-left: 10px;
                          padding: 5px;
                          height: 35px;
                        }
                      }
                    }
                    h1 {
                      font-size: 12px;
                      font-weight: 500;
                      text-align: center;
                      margin-bottom: 0px;
                    }
                    .box {
                      line-height: 22px;
                      color: #00aeef;
                      font-size: 12px;
                      background-color: transparent;
                      border: 1px solid #00aeef;
                      font-size: 10px;
                      font-weight: 500;
                    }
                  }

                  .Print {
                    line-height: 30px;
                    color: #fff;
                    font-size: 10px;
                  }

                  .split {
                    line-height: 30px;
                    color: #fff;
                    font-size: 10px;
                  }
                  .remove {
                    line-height: 22px;
                    color: #ffffff;
                    font-size: 12px;
                    background-color: transparent;
                    padding: 0px 33px;
                    font-size: 10px;
                    font-weight: 500;
                  }

                  .boxes-main {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    justify-content: center;

                    .box {
                      line-height: 22px;
                      color: #00aeef;
                      font-size: 12px;
                      background-color: transparent;
                      border: 1px solid #00aeef;
                      font-size: 10px;
                      font-weight: 500;
                    }
                    .boxed2 {
                      line-height: 22px;
                      color: #ffffff;
                      font-size: 12px;
                      background-color: transparent;

                      font-size: 10px;
                      font-weight: 500;
                    }

                    .margin {
                      margin-left: 10px;
                    }
                  }
                }
                .tex-align {
                  text-align: center;
                }
              }
              // table {
              //     width: 100%;
              //     border-collapse: collapse;
              //     td {
              //         padding: 0px 10px;
              //         border-bottom: 1px solid #b7bfbe;
              //         img {
              //             width: 70px;
              //         }

              //         h3 {
              //             font-size: 12px;
              //             margin-bottom: 5px;
              //             font-weight: 600;
              //             line-height: 1;
              //         }
              //         p {
              //             font-size: 12px;
              //             margin-bottom: 5px;
              //             line-height: 1;
              //         }
              //         .split {
              //             color: #fff;
              //             font-size: 11px;
              //             line-height: 30px;
              //         }
              //         .Print {
              //             color: #fff;
              //             font-size: 11px;
              //             line-height: 30px;
              //         }
              //         .remove {
              //             color: #d32d23;
              //             background: transparent;
              //             border: 1px solid;
              //             padding: 4px 4px;
              //             line-height: 1;
              //             margin-top: 10px;
              //         }
              //         .mat-icon {
              //             color: #d32d23;
              //         }
              //     }
              // }
            }
          }
        }
      }
      .right-flex {
        flex-basis: 30%;
        width: 300px;
        .right-boxes-back {
          background-color: #fff;
          border: 1px solid #b7bfbe;
          padding: 20px 10px 20px 10px;
          border-radius: 10px;
          box-shadow: 0 0 10px 3px #ddd;
          .boxes-over-flow {
            overflow-y: auto;
            padding: 0px 2px;
            .boxes-min-hight {
              max-height: 480px;

              .box-mian {
                background-color: #fff;
                border: 1px solid #b7bfbe;
                margin-top: 20px;

                .box-mian-padding {
                  padding: 10px 10px 10px 10px;
                  .spacing {
                    margin-top: 5px;
                  }
                  .box-btns {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .box1 {
                      font-size: 10px;
                      color: #fff;
                      line-height: 18px;
                    }
                    .list-text {
                      font-size: 13px;
                      font-weight: 600;
                      line-height: 1;
                      .mat-icon {
                        font-size: 15px;
                        width: 17px;
                        height: 17px;
                        vertical-align: middle;
                        color: $linkcolorOrange;
                      }
                    }
                    .over30 {
                      font-size: 13px;
                      color: #b7bfbe;
                    }
                  }
                }

                .drop-here {
                  background-color: #f7f7f7;
                  padding: 10px 0px;
                  border-top: 1px solid #b7bfbe;
                  p {
                    font-size: 13px;
                    line-height: 1;
                    margin-bottom: 0px;
                    font-weight: 500;
                    text-align: center;
                    color: #b7bfbe;
                  }
                }
              }
              .select {
                background-color: #afff5f1c;
                border: 1px solid #87c846;
              }
            }
          }
          .box-add-btns {
            margin-top: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            .Print-box {
              background-color: transparent;
              border: 1px solid #000;
              font-size: 12px;
              margin-right: 10px;
              color: #000;

              line-height: 32px;
            }
            .add-box {
              font-size: 12px;
              color: #ffffff;
              line-height: 34px;
            }
          }
          h1 {
            font-size: 22px;
            margin-bottom: 0px;
            line-height: 1;
            font-weight: 600;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1400px) {
  .content-details-section
    .content-details-main
    .boxes-tabs-section
    .left-flex
    .boxes-tabs
    .tab-main
    .table-mian
    table
    td
    .overweight-inputs
    .flex1
    .inputs-mian {
    flex-direction: column;
    width: 100px;
    margin-left: 0px;
    .box-input {
      margin-left: 0px;
    }
  }
  .content-details-section
    .content-details-main
    .boxes-tabs-section
    .left-flex
    .boxes-tabs
    .tab-main
    .table-mian
    table
    td
    .overweight-main {
    padding: 8px 3px;
  }

  .content-details-section
    .content-details-main
    .boxes-tabs-section
    .left-flex
    .boxes-tabs
    .tab-main
    .table-mian
    table
    td
    .overweight-inputs
    .flex1
    .inputs-mian
    .quanity-border {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 994px) {
  .content-details-section .content-details-main .page-heading .heading-txt .heading-flex h1 {
    font-size: 26px;
  }
  .content-details-section .content-details-main .page-heading .heading-txt .mat-icon {
    font-size: 41px;
    width: 48px;
    height: 43px;
  }
  .content-details-section .content-details-main .boxes-tabs-section {
    flex-direction: column;
  }
  .content-details-section .content-details-main .boxes-tabs-section .right-flex {
    flex-basis: 100%;
    width: 100%;
    margin-top: 25px;
  }
  .content-details-section .content-details-main .boxes-tabs-section .left-flex {
    flex-basis: 100%;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .content-details-section .content-details-main .field-flex .fields-main .input-main {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .content-details-section .content-details-main .page-heading .heading-txt .heading-flex h1 {
    font-size: 20px;
  }
  .content-details-section .content-details-main .field-flex {
    justify-content: center;
    flex-direction: column;
  }
  .content-details-section .content-details-main .field-flex .fields-main {
    flex-direction: column;
  }
  .content-details-section .content-details-main .field-flex .fields-main .search-btn .mat-button {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .content-details-section .content-details-main .field-flex .fields-main .select-field-main .select-field {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .content-details-section .content-details-main .page-heading {
    justify-content: center;
  }
}
@media only screen and (max-width: 530px) {
  .content-details-section .content-details-main .page-heading {
    flex-direction: column;
  }
  .content-details-section .content-details-main .page-heading .heading-txt {
    flex-direction: column;
  }
}
