// .chosenProductsTable tr {
// }
.cdk-drag-placeholder {
  td {
    // display: none;
    // padding: 0px 10px;
    // .table-check {
    //   display: none;
    // }
    // img {
    //   width: 70px;
    //   display: none;
    // }
    // h3 {
    //   font-size: 13px;
    //   margin-bottom: 5px;
    //   font-weight: 600;
    //   line-height: 1;
    //   display: none;
    // }
    // p {
    //   font-size: 12px;
    //   margin-bottom: 5px;
    //   line-height: 1;
    //   display: none;
    // }
    // .split {
    //   color: #fff;
    //   font-size: 11px;
    //   line-height: 30px;
    //   display: none;
    // }
    // .Print {
    //   color: #fff;
    //   font-size: 11px;
    //   line-height: 30px;
    //   display: none;
    // }
    // .remove {
    //   color: #d32d23;
    //   background: transparent;
    //   border: 1px solid;
    //   padding: 4px 4px;
    //   line-height: 1;
    //   margin-top: 10px;
    //   display: none;
    // }
    // .mat-icon {
    //   color: #d32d23;
    //   display: none;
    // }
    // .overweight-inputs {
    //   display: none;
    // }
    // .overweight-main {
    //   display: none;
    // }
    // .boxes-main {
    //   display: none;
    // }
  }
}
.cdk-drag.cdk-drag-placeholder {
  display: block;
}

.cdk-drop-list tr.cdk-drag-placeholder {
  display: none !important;
}

.cdk-drop-list-receiving.box-recive {
  border: 1px dotted #7ac943 !important;
}
.cdk-drop-list-dragging.box-recive {
  border: 2px dotted #7ac943 !important;
  background-color: #afff5f1c !important;
}
// .cdk-drag-placeholder.box-recive {
//   border: 4px solid #d32d23 !important;
// }
.cdk-drag-preview {
  table {
    width: 100px;
  }
  td {
    padding: 0px 10px;
    // display: none;

    .product-main {
      img {
        width: 70px;
      }
      h3 {
        font-size: 13px;
        margin-bottom: 5px;
        font-weight: 600;
        line-height: 1;
        // display: none;
      }
      p {
        font-size: 12px;
        margin-bottom: 5px;
        line-height: 1;
        // display: none;
      }
    }
    .table-check {
      display: none;
    }

    .split {
      color: #fff;
      font-size: 11px;
      line-height: 30px;
      display: none;
    }
    .Print {
      color: #fff;
      font-size: 11px;
      line-height: 30px;
      display: none;
    }
    .remove {
      color: #d32d23;
      background: transparent;
      border: 1px solid;
      padding: 4px 4px;
      line-height: 1;
      margin-top: 10px;
      display: none;
    }
    .overweight-inputs {
      display: none;
    }
    .overweight-main {
      display: none;
    }
    .boxes-main {
      display: none;
    }
    .mat-icon {
      color: #d32d23;
      display: none;
    }
  }
}
.chosenbox {
  border: 1px solid #7ac943 !important;
  background-color: #7ac9431f !important;
}
.deleteBox {
  color: #d32d23;
}
