<div class="split-popup-section warning">
    <h1>Warning!
        <mat-icon (click)='skipModal()'>close</mat-icon>
    </h1>
    <p>You are deleting Box # 1?</p>
    <div class="split-btn-main align-btn">
        <button mat-button color="primary" class=" red-badge split" [mat-dialog-close]="true">REMOVE ITEM(S) FORM
            SHIPMENT</button>
        <button mat-button color="primary" class=" orange-badge split">MOVE TO ANOTHER SHIPMENT</button>
        <button mat-button color="primary" class=" blue-btn split">MOVE ITEM(S) TO UNBOXED</button>
    </div>
</div>