<!-- /////////////////////////////BOX------MANIFEST------ POPUP///////////////////////////////// -->
<div class="box-manifest-popup">
    <h1>Add Box Manifest
        <mat-icon (click)='skipModal()' >close</mat-icon>
    </h1>
    <div class="manifest-details">
        <label>Mabifest Name</label>
        <input type="text" class="input">
    </div>
    <div class="manifest-details">
        <label>Item Source</label>
        <select class="input">
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </div>
    <div class="manifest-details">
        <label>Discription</label>
        <input type="text" class="input">
    </div>
    <div class="manifest-btn">
        <a (click)='skipModal()'>Cancel</a>
        <button mat-button color="primary" class=" blue-btn create">CREATE</button>
    </div>

</div>