<section class="shipment-detail-main">
    <div class="shipment-heading-button">
        <div class="heading">
            <div class="heading-icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon"> local_shipping </mat-icon>
            </div>
            <div class="heading-text">
                <h1>Shipment Details</h1>
            </div>

        </div>
        <div class="button">
            <button mat-raised-button color="primary" class="seller light-green">ADD ITEMS FROM PILE</button>
            <button mat-raised-button color="primary" class="seller bluesh-white copy ">COPY CONTENT TO PILE</button>
        </div>
    </div>

    <div class="shipment-table">
        <div class="headings-flex">
            <div class="flex1">
                <h1><a>FBA15G14JH7</a><span class="bw14 red-badge">BWI4</span> <span class="clear">- Clear Brook, VA 22624
          </span></h1>
            </div>
            <div class="flex2">
                <p>MARKETPLACE: <span class="chain">SellerChain</span> <span class="red-badge us">us</span><button mat-raised-button color="primary" class="greenish-gry mode">CASE PACK MODE</button><button mat-raised-button color="primary" class="orange-badge closed">CLOSED</button></p>
            </div>
        </div>


        <div class="shipment-detail-cards">
            <div class="card1">
                <div class="card-heading">
                    <h2>SHIPMENT NAME:</h2>
                </div>
                <div class="card1-detail">
                    <div class="detail-left">
                        <h3>BWI4 - MIX 2/11/2019 9:21 PM
                        </h3>
                        <h4>CREATED: <span> 2/11/2019</span></h4>
                        <h4>LAST UPDATED: <span> 2/11/2019</span></h4>
                    </div>
                    <div class="detail-right">
                        <h4>LINBOUND COST:<span> $25.68</span></h4>
                        <div class="input-flex">
                            <p>0r</p>
                            <input type="text" class="custom-inputs doler">
                            <mat-icon>
                                done
                            </mat-icon>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card2">
                <div class="card-heading">
                    <h2>SHIP FROM:</h2>
                </div>
                <div class="card2-text">
                    <h2>SellerChain</h2>
                    <h3>1060 Linwood Street</h3>
                    <h3>Brooklyn, NY 11208</h3>
                    <h3>US</h3>
                </div>
            </div>
            <div class="card3">
                <div class="card-heading">
                    <h2> SHIP TO:</h2>
                </div>
                <div class="card2-text">
                    <h2>BWI4</h2>
                    <h3>165 Business Blvd</h3>
                    <h3>Clear Brook, VA 22624-1568</h3>
                    <h3>US</h3>
                </div>
            </div>
            <div class="card4">
                <div class="card-heading">
                    <h2> CONTENT DETAILS:</h2>
                </div>
                <div class="card2-text">
                    <h2><span>SKU QUANTITY:</span>2</h2>
                    <h2><span>WEIGHT:</span>371 lbs</h2>

                </div>
            </div>
            <div class="card5">
                <div class="card-heading">
                    <h2> TOP ITEM:</h2>
                </div>
                <div class="card2-text">
                    <h2><a class="link">FBA15FMTX9L3-NEW</a><span>| TOTAL QTY:</span>2</h2>
                    <h3><span>ALSO PART OF SHIPMENT:</span><a href="#">FBA15G14JH8</a></h3>
                    <h2 class="gry">ONT6 - MIX 2/11/2019 9:21 PM</h2>

                </div>
            </div>
            <div class="card6">
                <div class="card-heading">
                    <h2> LABELING & PREP:
                    </h2>
                </div>
                <div class="card2-text">
                    <button mat-raised-button color="primary" class=" orange-badge">MIXED</button>
                </div>
            </div>
            <div class="card7">
                <div class="card-heading">
                    <h2> SHIPPING TIER:
                    </h2>
                </div>
                <div class="card2-text">
                    <button mat-raised-button color="primary" class=" orange-badge">OVERSIZED</button>
                </div>
            </div>
        </div>

    </div>
    <div class="shipment-detail-table">
        <div class="table-main">
            <table>
                <tr>
                    <th></th>
                    <th>Image
                    </th>
                    <th>ASIN | SKU | FN SKU</th>
                    <th>Condition </th>
                    <th>Weight</th>
                    <th>My Price</th>
                    <th>Case Qty</th>
                    <th>Units|Case</th>
                    <th>Add Units</th>
                    <th>Shipped</th>
                    <th>Recieved</th>
                    <th>Label</th>
                    <th>Sync</th>
                </tr>
                <tr>
                    <td><button mat-raised-button color="primary" class="top bluesh-white ">TOP ITEM</button>
                    </td>
                    <td>
                        <div class="product">
                            <div class="product-image">
                                <img src="/assets/images/watch.png" alt="">
                            </div>
                        </div>
                    </td>
                    <td>
                        <h2><a class="link2">B00RN08585</a></h2>
                        <h2><a class="link">FBA15FMTX9L3-NEW</a></h2>

                        <h2><a>B00RN08585</a></h2>

                    </td>
                    <td><button mat-raised-button color="primary" class="seller red-badge   new">NEW</button></td>
                    <td>2 lb 2 oz</td>
                    <td>
                        <div class="input-icon">
                            <input type="text " class="custom-inputs doler">
                            <mat-icon>done</mat-icon>
                        </div>

                    </td>
                    <td>1</td>
                    <td>50</td>
                    <td><input type="text" class="custom-inputs price"></td>
                    <td><b>50</b></td>
                    <td>48</td>
                    <td><button mat-raised-button color="primary" class="dark-gray-bdg new">SELLER</button></td>
                    <td>
                        <div class="icon-img">
                            <img src="/assets/images/fba-icon.png" alt="">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class="product">
                            <div class="product-image">
                                <img src="/assets/images/watch.png" alt="">
                            </div>
                        </div>
                    </td>
                    <td>
                        <h2><a class="link2">B00RN08585</a></h2>
                        <h2><a class="link">FBA15FMTX9L3-NEW</a></h2>

                        <h2><a>B00RN08585</a></h2>

                    </td>
                    <td><button mat-raised-button color="primary" class="seller red-badge   new">NEW</button></td>
                    <td>2 lb 2 oz</td>
                    <td>
                        <div class="input-icon">
                            <input type="text " class="custom-inputs doler">
                            <mat-icon>done</mat-icon>
                        </div>

                    </td>
                    <td>1</td>
                    <td>50</td>
                    <td><input type="text" class="custom-inputs price"></td>
                    <td><b>50</b></td>
                    <td>48</td>
                    <td><button mat-raised-button color="primary" class="dark-gray-bdg new">SELLER</button></td>
                    <td>
                        <div class="icon-img">
                            <img src="/assets/images/fba-icon.png" alt="">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class="product">
                            <div class="product-image">
                                <img src="/assets/images/watch.png" alt="">
                            </div>
                        </div>
                    </td>
                    <td>
                        <h2><a class="link2">B00RN08585</a></h2>
                        <h2><a class="link">FBA15FMTX9L3-NEW</a></h2>

                        <h2><a>B00RN08585</a></h2>

                    </td>
                    <td><button mat-raised-button color="primary" class="seller red-badge   new">NEW</button></td>
                    <td>2 lb 2 oz</td>
                    <td>
                        <div class="input-icon">
                            <input type="text " class="custom-inputs doler">
                            <mat-icon>done</mat-icon>
                        </div>

                    </td>
                    <td>1</td>
                    <td>50</td>
                    <td><input type="text" class="custom-inputs price"></td>
                    <td><b>50</b></td>
                    <td>48</td>
                    <td><button mat-raised-button color="primary" class="dark-gray-bdg new">SELLER</button></td>
                    <td>
                        <div class="icon-img">
                            <img src="/assets/images/fba-icon.png" alt="">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class="product">
                            <div class="product-image">
                                <img src="/assets/images/watch.png" alt="">
                            </div>
                        </div>
                    </td>
                    <td>
                        <h2><a class="link2">B00RN08585</a></h2>
                        <h2><a class="link">FBA15FMTX9L3-NEW</a></h2>

                        <h2><a>B00RN08585</a></h2>

                    </td>
                    <td><button mat-raised-button color="primary" class="seller red-badge   new">NEW</button></td>
                    <td>2 lb 2 oz</td>
                    <td>
                        <div class="input-icon">
                            <input type="text " class="custom-inputs doler">
                            <mat-icon>done</mat-icon>
                        </div>

                    </td>
                    <td>1</td>
                    <td>50</td>
                    <td>
                        <input type="text" [matMenuTriggerFor]="warningMenu" class="custom-inputs price">
                        <mat-menu class="popupMenu" #warningMenu="matMenu" xPosition="before">
                            <div class="RestrictedPileTooltip">
                                <div class="tooltip-main">
                                    <h1>
                                        <mat-icon>error</mat-icon>IMPORTANT
                                    </h1>
                                    <div class="tooltip-main">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore</p>

                                    </div>

                                </div>
                            </div>
                        </mat-menu>
                    </td>
                    <td><b>50</b></td>
                    <td>48</td>
                    <td><button mat-raised-button color="primary" class="dark-gray-bdg new">SELLER</button></td>
                    <td>
                        <div class="icon-img">
                            <img src="/assets/images/fba-icon.png" alt="">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class="product">
                            <div class="product-image">
                                <img src="/assets/images/watch.png" alt="">
                            </div>
                        </div>
                    </td>
                    <td>
                        <h2><a class="link2">B00RN08585</a></h2>
                        <h2><a class="link">FBA15FMTX9L3-NEW</a></h2>

                        <h2><a>B00RN08585</a></h2>

                    </td>
                    <td><button mat-raised-button color="primary" class="seller red-badge   new">NEW</button></td>
                    <td>2 lb 2 oz</td>
                    <td>
                        <div class="input-icon">
                            <input type="text " class="custom-inputs doler">
                            <mat-icon>done</mat-icon>
                        </div>

                    </td>
                    <td>1</td>
                    <td>50</td>
                    <td><input type="text" class="custom-inputs price"></td>
                    <td><b>50</b></td>
                    <td>48</td>
                    <td><button mat-raised-button color="primary" class="dark-gray-bdg new">SELLER</button></td>
                    <td>
                        <div class="icon-img">
                            <img src="/assets/images/fba-icon.png" alt="">
                        </div>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</section>