<section class="add-app-section-main">
    <div class=" add-app-heading">
        <div class="heading-flex">
            <h2>Good Morning <span>Nick Anderson!</span></h2>
            <p>Please choose which apps you’d like to add your first Marketplace to.</p>
        </div>
        <div class="heading-flex2">
            <button mat-button color="primary" class="blue-btn Continue">
                Continue
            </button>
        </div>
    </div>
    <div class="app-add-main">
        <div class="display-main">
            <div class="flex">
                <div class="add-app-border">
                    <div class="scan-ship-main">
                        <div class="heading">
                            <h2>Scan + Ship App</h2>
                            <p>You will be charged a monthly subscription fee of $199.</p>
                            <p>Additionally, there is a one-time<br>
                                setup fee of $149 this month. </p>
                        </div>
                        <div class="image">
                            <img src="/assets/images/barcode.svg">
                        </div>
                    </div>
                    <div class="plan">
                        <h4>See more Tier Packages</h4>
                        <h3>Basic $200 / month</h3>
                    </div>
                    <div class="Package-main">
                        <div class="list-Package">
                            <p>Package Includes:
                            </p>
                            <ul>
                                <li> 1 Initial Concept Included
                                </li>
                                <li>Source File</li>
                                <li>2 free shipments
                                </li>
                                <li>2 free bleed reports</li>
                            </ul>
                        </div>
                        <div class="Package-btn">
                            <button mat-button color="primary" class=" added">
                                App added
                            </button>
                        </div>
                    </div>
                    <a href="">Learn more</a>
                </div>
            </div>
            <div class="flex">
                <div class="add-app-border">
                    <div class="scan-ship-main">
                        <div class="heading">
                            <h2>Bleed Report App</h2>
                            <p>You will be charged a monthly subscription fee of $199.</p>
                            <p>Additionally, there is a one-time<br>
                                setup fee of $149 this month. </p>
                        </div>
                        <div class="image">
                            <img src="/assets/images/blod.png">
                        </div>
                    </div>
                    <div class="plan">
                        <h4>See more Tier Packages</h4>
                        <h3>Basic $200 / month</h3>
                    </div>
                    <div class="Package-main">
                        <div class="list-Package">
                            <p>Package Includes:
                            </p>
                            <ul>
                                <li> 1 Initial Concept Included
                                </li>
                                <li>Source File</li>
                                <li>2 free shipments
                                </li>
                                <li>2 free bleed reports</li>
                            </ul>
                        </div>
                        <div class="Package-btn">
                            <button mat-button color="primary" class=" added">
                                App added
                            </button>
                        </div>
                    </div>
                    <a href="">Learn more</a>
                </div>
            </div>
            <div class="flex">
                <div class="add-app-border">
                    <div class="scan-ship-main">
                        <div class="heading">
                            <h2>Scan + Ship App</h2>
                            <p>You will be charged a monthly subscription fee of $199.</p>
                            <p>Additionally, there is a one-time<br>
                                setup fee of $149 this month. </p>
                        </div>
                        <div class="image">
                            <img src="/assets/images/barcode.svg">
                        </div>
                    </div>
                    <div class="plan">
                        <h4>See more Tier Packages</h4>
                        <h3>Basic $200 / month</h3>
                    </div>
                    <div class="Package-main">
                        <div class="list-Package">
                            <p>Package Includes:
                            </p>
                            <ul>
                                <li> 1 Initial Concept Included
                                </li>
                                <li>Source File</li>
                                <li>2 free shipments
                                </li>
                                <li>2 free bleed reports</li>
                            </ul>
                        </div>
                        <div class="Package-btn">
                            <button mat-button color="primary" class=" added">
                                App added
                            </button>
                        </div>
                    </div>
                    <a href="">Learn more</a>
                </div>
            </div>

        </div>
        <div class="display-main">
            <div class="flex">
                <div class="add-app-border">
                    <div class="scan-ship-main">
                        <div class="heading">
                            <h2>Bleed Report App</h2>
                            <p>You will be charged a monthly subscription fee of $199.</p>
                            <p>Additionally, there is a one-time<br>
                                setup fee of $149 this month. </p>
                        </div>
                        <div class="image">
                            <img src="/assets/images/barcode.svg">
                        </div>
                    </div>
                    <div class="plan">
                        <h4>See more Tier Packages</h4>
                        <h3>Basic $200 / month</h3>
                    </div>
                    <div class="Package-main">
                        <div class="list-Package">
                            <p>Package Includes:
                            </p>
                            <ul>
                                <li> 1 Initial Concept Included
                                </li>
                                <li>Source File</li>
                                <li>2 free shipments
                                </li>
                                <li>2 free bleed reports</li>
                            </ul>
                        </div>
                        <div class="Package-btn">
                            <button mat-button color="primary" class=" added">
                                App added
                            </button>
                        </div>
                    </div>
                    <a href="">Learn more</a>
                </div>
            </div>
            <div class="flex">
                <div class="add-app-border">
                    <div class="scan-ship-main">
                        <div class="heading">
                            <h2>Scan + Ship App</h2>
                            <p>You will be charged a monthly subscription fee of $199.</p>
                            <p>Additionally, there is a one-time<br>
                                setup fee of $149 this month. </p>
                        </div>
                        <div class="image">
                            <img src="/assets/images/blod.png">
                        </div>
                    </div>
                    <div class="plan">
                        <h4>See more Tier Packages</h4>
                        <h3>Basic $200 / month</h3>
                    </div>
                    <div class="Package-main">
                        <div class="list-Package">
                            <p>Package Includes:
                            </p>
                            <ul>
                                <li> 1 Initial Concept Included
                                </li>
                                <li>Source File</li>
                                <li>2 free shipments
                                </li>
                                <li>2 free bleed reports</li>
                            </ul>
                        </div>
                        <div class="Package-btn">
                            <button mat-button color="primary" class=" added">
                                App added
                            </button>
                        </div>
                    </div>
                    <a href="">Learn more</a>
                </div>
            </div>
            <div class="flex">
                <div class="add-app-border">
                    <div class="scan-ship-main">
                        <div class="heading">
                            <h2>Bleed Report App</h2>
                            <p>You will be charged a monthly subscription fee of $199.</p>
                            <p>Additionally, there is a one-time<br>
                                setup fee of $149 this month. </p>
                        </div>
                        <div class="image">
                            <img src="/assets/images/barcode.svg">
                        </div>
                    </div>
                    <div class="plan">
                        <h4>See more Tier Packages</h4>
                        <h3>Basic $200 / month</h3>
                    </div>
                    <div class="Package-main">
                        <div class="list-Package">
                            <p>Package Includes:
                            </p>
                            <ul>
                                <li> 1 Initial Concept Included
                                </li>
                                <li>Source File</li>
                                <li>2 free shipments
                                </li>
                                <li>2 free bleed reports</li>
                            </ul>
                        </div>
                        <div class="Package-btn">
                            <button mat-button color="primary" class=" added">
                                App added
                            </button>
                        </div>
                    </div>
                    <a href="">Learn more</a>
                </div>
            </div>

        </div>
    </div>
</section>