<section class="dashbord">
    <div class="heading-button">
        <div class="heading-main">
          <div class="scan-icon"><mat-icon aria-hidden="false" aria-label="Example home icon">speed</mat-icon></div>
          <div class="heading"><h1>MY SCAN+SHIP DASHBOARD</h1></div>
        </div>
        <div class="button-main">
            <button mat-button color="primary" class="add-item custom-button ">ADD ITEM</button>
            <button mat-button color="primary" class="my-listing custom-button ">MY LISTINGS</button>
        </div>
    </div>

    <div class="scan-ship-details">
      <div class="scan-ship-main">
          <div class="detail-1">
              <div class="icon-text-notif">
                  <div class="text-icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">local_shipping</mat-icon>
                  </div>
                  <div class="text">
                      <h3>OPEN SHIPMENTS:</h3>
                  </div>
                  <div class="notifier">
                    <p>3</p>
                  </div>
              </div>
              <div class="detail-text">
                <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                
              </div>
          </div>


        <div class="detail-1">
            <div class="icon-text-notif">
                <div class="text-icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="mat-icon-color">warning</mat-icon>
                </div>
                <div class="text">
                    <h3>SHIPMENT ERRORS:</h3>
                </div>
                <div class="notifier notifir-2">
                    <p>3</p>
                </div>
            </div>
            <div class="detail-text">
                <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                
            </div>
        </div>


        <div class="detail-1">
            <div class="icon-text-notif">
                <div class="text-icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">account_tree</mat-icon>
                </div>
                <div class="text">
                    <h3>OPEN PILES:</h3>
                </div>
                <div class="notifier ">
                    <p>3</p>
                </div>
            </div>
            <div class="detail-text">
                <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                
            </div>
        </div>


        <div class="detail-1">
            <div class="icon-text-notif">
                <div class="text-icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="mat-icon-color">warning</mat-icon>
                </div>
                <div class="text">
                    <h3>PILE ERRORS:</h3>
                </div>
                <div class="notifier notifir-2">
                    <p>3</p>
                </div>
            </div>
            <div class="detail-text">
                <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                
            </div>
        </div>

        <div class="detail-1">
            <div class="icon-text-notif">
                <div class="text-icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">warning</mat-icon>
                </div>
                <div class="text">
                    <h3>BULK ERRORS:</h3>
                </div>
                <div class="notifier notifir-2">
                    <p>3</p>
                </div>
            </div>
            <div class="detail-text">
                <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
            </div>
        </div>

      </div>
    </div>
     
    <div class="scan-search-fields-tabel">
      <div class="fields-tabel-main">
          <div class="fields-main">
             <div class="radio-text">
                <h4>SEARCH TYPE:</h4>
                <div class="radio-btn">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Option 1</mat-radio-button>
                        <mat-radio-button value="2">Option 2</mat-radio-button>
                    </mat-radio-group>
                </div>
             </div>
             <div class="input-btn">
                 <div class="input-main">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Search an ASIN, UPC, SKU, keyword, etc...">
                    </mat-form-field>
                 </div>
                    
                    <div class="search-btn">
                        <button mat-button color="primary">SEARCH</button>
                    </div>
                    <div class="fiter-icon">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">filter_alt</mat-icon>
                    </div>
             </div>
          </div>


          <div class="table-section">
                <div class="table-main">
              
                </div>
          </div>
      </div>
    <div class="fields-tabel-main">
        <div class="fields-main">
            <div class="radio-text">
                <h4>SEARCH TYPE:</h4>
                <div class="radio-btn">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Option 1</mat-radio-button>
                        <mat-radio-button value="2">Option 2</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="input-btn">
                <div class="input-main">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Search an ASIN, UPC, SKU, keyword, etc...">
                    </mat-form-field>
                </div>
    
                <div class="search-btn">
                    <button mat-button color="primary">BROWSE</button>
                </div>
                <div class="fiter-icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">filter_alt</mat-icon>
                </div>
            </div>
        </div>
    
    
        <div class="table-section">
            <div class="table-main">
    
            </div>
        </div>
    </div>
    </div>
</section>