<div class="filter-actions-main">
    <div class="filter-actions-inner">
        
        <div class="left-side-menu">
        <div class="left-uper-icons">
            <div class="icon-back active" (click)="showHideSection(1)">
                <mat-icon class="icon">more_horiz</mat-icon>
            </div>
            <div class="icon-back" (click)="showHideSection(2)">
                <mat-icon class="icon">keyboard_alt</mat-icon>
            </div>
            <div class="icon-back" (click)="showHideSection(3)">
                <mat-icon class="icon">other_houses</mat-icon>
            </div>
            <div class="icon-back" (click)="showHideSection(4)">
                <mat-icon class="icon">settings</mat-icon>
            </div>
        </div>
        <div class="left-lower-icons">
            <div class="icon-back">
               <mat-icon class="icon">push_pin</mat-icon>
            </div>
            <div class="icon-back" >
                <mat-icon class="icon">navigate_next</mat-icon>
            </div>
        </div>
            
            
        </div>
        <div class="rigt-side-actions">
            <div class="filters" *ngIf="div1">
            <div class="heading-border">
                <h1>SORT BY: <mat-icon class="sortby">sort_by_alpha</mat-icon>
                </h1>
            </div>
            <div class="right-action-main">
                <mat-radio-group aria-label="Select an option" class="radio-main">
                    <mat-radio-button value="1" class="radio">Shipment ID</mat-radio-button>
                    <mat-radio-button value="3" class="radio">MP</mat-radio-button>
                    <mat-radio-button value="4" class="radio">Status</mat-radio-button>
                    <mat-radio-button value="4" class="radio">Shipping Tier</mat-radio-button>
                    <mat-radio-button value="2" class="radio">Shipment Name</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="heading-border2">
                <h1>MARKETPLACE:</h1>
                <mat-icon class="icon" matTooltip="select Marketplace form drpdown">help
            
                </mat-icon>
            </div>
            <div class="select-feld">
                <mat-form-field appearance="fill">
                    <mat-select>
                        <mat-option value="option1">SALERCHAIN</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            </div>

            <div class="settings" *ngIf="div2">
                some acions 
            </div>
            <div class="settings" *ngIf="div3">
                again some actions here
            </div>
            <div class="settings" *ngIf="div4">
                third time some actions here
            </div>
           
            
        </div>
    </div>
</div>