<div *ngIf='!addEmptyBoxDimension' class="boxed-popup">
    <div class="heading">
        <h2>Box Me!</h2>
        <p>Want to add empty box#1 info?</p>
        <mat-icon>close</mat-icon>
    </div>
    <div class="popup-btn">
        <a (click)='skipModal()'>Skip</a>
        <button mat-button color="primary" (click)="addemptypopup()" class=" blue-btn add">ADD EMPTY BOX
            DIMENSION</button>
    </div>
</div>

<!-- /////////////////////////////BOX -----EMPTY-----POPUP///////////////////////////////// -->
<div *ngIf='addEmptyBoxDimension'  class="add-empty-popup">
    <div class="add-empty-heading">
        <h2>What is your empty Box#1 info?</h2>
        <mat-icon>close</mat-icon>
    </div>
    <h3>Box Dimensions</h3>
    <div class="dimensions">
        <div class="flex">
            <label>Height</label>
            <input type="text" class="input ">
        </div>
        <div class="flex">
            <label>Length</label>
            <input type="text" class="input">
        </div>
        <div class="flex">
            <label>Width</label>
            <input type="text" class="input">
        </div>
        <div class="flex">
            <label>Inches</label>

        </div>

    </div>
    <h3>Box Weight</h3>
    <div class="dimensions">
        <div class="flex">
            <label>LB</label>
            <input type="text" class="input ">
        </div>
        <div class="flex">
            <label>OZ</label>
            <input type="text" class="input">
        </div>


    </div>
    <div class="emty-value-btn">
        <a (click)='skipModal()'>Skip</a>
        <button mat-button color="primary" class=" blue-btn add">START BOXING</button>
    </div>
</div>
