<div class="content-view-component">
    <div class="body-side">
        <div class="breadcrumbs">
            <app-breadcrumbs></app-breadcrumbs>
        </div>
        <div class="content-wrapper">
                <ng-content select="[body]"></ng-content>
        </div>
     
    </div>
    <div class="filters-side" [class.slideBarInOut]="hideBar">
        <div class="filter-actions-main" >
            <div class="filter-actions-inner">
        
                <div class="left-side-menu">
                    <div class="left-uper-icons">
                        <div class="icon-back active" (click)="showHideSection(1)">
                            <mat-icon class="icon">more_horiz</mat-icon>
                        </div>
                        <div class="icon-back" (click)="showHideSection(2)">
                            <mat-icon class="icon">keyboard_alt</mat-icon>
                        </div>
                        <div class="icon-back" (click)="showHideSection(3)">
                            <mat-icon class="icon">other_houses</mat-icon>
                        </div>
                        <div class="icon-back" (click)="showHideSection(4)">
                            <mat-icon class="icon">settings</mat-icon>
                        </div>
                    </div>
                    <div class="left-lower-icons">
                        <div class="icon-back">
                            <mat-icon class="icon">push_pin</mat-icon>
                        </div>
                        <div class="icon-back" (click)="hideShowRightBar()">
                            <mat-icon class="icon">navigate_next</mat-icon>
                        </div>
                    </div>
        
        
                </div>
                <div class="rigt-side-actions">
                    <div *ngIf="div1">
                       
                        <ng-content select="[content1]"></ng-content>
                    </div>
        
                    <div class="settings" *ngIf="div2">
                       
                        <ng-content select="[content2]"></ng-content>
                    </div>
                    <div class="settings" *ngIf="div3">
                        
                        <ng-content select="[content3]"></ng-content>
                    </div>
                    <div class="settings" *ngIf="div4">
                    <ng-content select="[content4]"></ng-content>
                    </div>
        
        
                </div>
            </div>
        </div>
        
    </div>
</div>
