<section class="side-bar add-items-right-bar">
    <div class="side-bar-main add-item-reght-bar filters">
        <div class="market-dropdown">
            <div class="dropdown-main">
                <label>MARKETPLACE:</label>
                <mat-form-field appearance="fill">
                    <mat-select>
                        <mat-option value="option">SHOW ALL</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="plan-sec add-items-plan">
            <h1>SHIPMENT PILES</h1>
            <p>Select a pile to view contents.
                Right-click for more options.</p>
            <h3>SELLER/NO LABEL PLANS</h3>
            <div class="plan-main" [matMenuTriggerFor]="standardpileMenu">
                <div class="plan">
                    <div class="flex">
                        <h4>
                            <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-color "><span
                                    class="material-icons">lock</span></mat-icon>
                            STANDARD
                        </h4>
                    </div>
                    <div class="flex">
                        <h4> 3 <small>SKU</small> | 72 <small>UNIT</small></h4>
                    </div>
                </div>
            </div>

            <mat-menu class="popupMenu" #standardpileMenu="matMenu" xPosition="after">
                <div class="standardPileTooltip" (click)="$event.stopPropagation();">
                    <ul>
                        <li>Add to Existing Shipment</li>
                        <li>Print All Labels</li>
                        <li>Remove All Items</li>
                        <li>Lock This Pile</li>
                        <li>Move to Custom Pile</li>
                        <li>Check FBA for All</li>
                    </ul>
                </div>
            </mat-menu>

            <div class="plan-main pirot-badge">
                <div class="plan">
                    <div class="flex">
                        <h4>HEAVY</h4>
                    </div>
                    <div class="flex">
                        <h4>
                            3 <small>SKU</small> | 72 <small>UNIT</small>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="plan-main gry-badge">
                <div class="plan">
                    <div class="flex">
                        <h4>STANDARD</h4>
                    </div>
                    <div class="flex">
                        <h4> 3 <small>SKU</small> | 72 <small>UNIT</small></h4>
                    </div>
                </div>
            </div>

            <h3>AMAZON LABEL PLANS</h3>
            <div class="plan-main">
                <div class="plan">
                    <div class="flex">
                        <h4>
                            STANDARD
                        </h4>
                    </div>
                    <div class="flex">
                        <h4> 3 <small>SKU</small> | 72 <small>UNIT</small></h4>
                    </div>
                </div>
            </div>

            <div class="plan-main orange-badge">
                <div class="plan">
                    <div class="flex">
                        <h4>HEAVY</h4>
                    </div>
                    <div class="flex">
                        <h4>
                            3 <small>SKU</small> | 72 <small>UNIT</small>
                        </h4>
                    </div>
                </div>
            </div>

        </div>

        <div class="plan-sec add-items-plan">

            <h3>SHIP FROM ADDRESS:</h3>

            <mat-select class="matSelectCustom" placeholder="Select Address" floatlLabel="never">
                <mat-option value="option">SHOW ALL</mat-option>
                <mat-option value="option">SHOW ALL</mat-option>
                <mat-option value="option">SHOW ALL</mat-option>
                <mat-option value="option">SHOW ALL</mat-option>
            </mat-select>

            <div class="ship-from">
                <div class="text">
                    <p>SellerChain
                        1060 Linwood Street
                        Brooklyn, NY 11208</p>
                </div>
                <div class="btn-side">
                    <button mat-raised-button color="primary">Update</button>
                </div>
            </div>


        </div>

        <div class="plan-sec add-items-plan">
            <div class="selected-items">
                <h3> <span class="circleBig orange-badge">3</span>SELECTED ITEMS:</h3>

                <div class="qty-print">
                    <div class="qty">

                        <label>QTY:</label>
                        <input type="text">
                    </div>
                    <div class="print-select">
                        <select>
                            <option value="" selected>Print Label(s)</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select>
                    </div>
                </div>

                <button class="removeItemBtn">REMOVE ITEM(s)</button>
                <button class="addexistingBtn">ADD TO EXISTING SHIPMENT</button>
                <button class="movetocustomBtn">MOVE TO CUSTOM PILE</button>
                <img class="revert-all" src="/assets/images/all-revert.png">
            </div>






        </div>

    </div>
</section>