///////////////////////////////////////////////////////////////BOX CONTENT DASHBOARD///////////////////
::ng-deep .box-content-section {
  .box-content-main {
    ////////////////// BOX CONTENT HEADING STYLE///////////////
    .page-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #b7bfbe;
      padding-bottom: 20px;

      .heading-txt {
        display: flex;
        align-items: center;

        .mat-icon {
          font-size: 60px;
          color: #3eadf2;
          margin-right: 10px;
          width: 64px;
          height: 64px;
          vertical-align: middle;
        }
        .heading-flex {
          display: flex;
          align-items: center;
          h1 {
            margin: 0;
            font-size: 30px;
            color: #3eadf2;
            font-weight: 700;
            margin-right: 10px;
          }
        }
      }
    }
    ////////////////// BOX CONTENT FIELDS STYLE///////////////
    .field-flex {
      display: flex;
      border-bottom: 1px solid #b7bfbe;

      .box-content-field {
        .fields-main {
          display: flex;
          align-items: center;
          padding: 20px 30px;
          justify-content: center;
          .radio-text {
            display: flex;
            align-items: center;
            .radio-btn {
              margin-left: 20px;
              .mat-radio-group {
                display: flex;
                flex-direction: column;
              }
              .mat-radio-button {
                padding-bottom: 3px !important;
              }
              .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
                border-color: #00aeef !important;
              }
              .mat-radio-button.mat-accent .mat-radio-inner-circle,
              .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
              .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
              .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
                background-color: #00aeef !important;
              }
              .mat-radio-outer-circle {
                background-color: #ffffff !important;
              }
            }
            h4 {
              font-size: 15px;
              margin-bottom: 0;
              display: block;
              line-height: 1;
              width: 57px;
              text-align: right;
            }
          }
          .input-btn {
            display: flex;
            align-items: center;
            flex-basis: 70%;
            .input-main {
              margin-left: 20px;
              flex: 1;
              .mat-form-field {
                width: 100% !important;
              }

              .mat-form-field-infix {
                padding: 10px 0;
                border-top: none !important;
              }
              .mat-form-field-wrapper {
                padding-bottom: 0px !important;
              }
              .mat-form-field-appearance-fill .mat-form-field-flex {
                background-color: white !important;
                border: 1px solid #e3e3e5 !important;
              }
              .mat-form-field-appearance-fill .mat-form-field-flex {
                border-radius: 4px 4px 4px 4px !important;
                padding: 0px 9px 0px 9px !important;
              }
              .mat-form-field-underline {
                width: auto !important;
              }
            }
            .search-btn {
              .browse {
                background-color: #afb0b3 !important;
              }
              .mat-button,
              .mat-icon-button,
              .mat-stroked-button {
                background-color: #00aeef;
                margin-left: 20px;
              }
              .mat-button.mat-primary,
              .mat-icon-button.mat-primary,
              .mat-stroked-button.mat-primary {
                color: #ffffff;
              }
            }
            .fiter-icon {
              display: flex;
              cursor: pointer;
              h3 {
                font-size: 15px;
                margin-bottom: 0;
                display: block;
                line-height: 1;
                margin-right: 10px;
              }
              .mat-icon {
                font-size: 30px;
                color: #afb0b3;
                display: block;
              }
              .download-icon {
                font-size: 30px;
                color: #39b54a;
                display: block;
              }
            }
          }
        }
      }
    }
    ////////////////// BOX CONTENT TABELS STYLE///////////////
    .box-conten-table-main {
      // display: flex;
      margin-top: 30px;
      // flex-wrap: wrap;
      .left-table {
        // flex: 1;
        background-color: #ffff;
        // border: 1px solid #e7e8e8;
        border-radius: 4px;
        margin-right: 16px;
        width: 100%;

        .table-heading {
          display: flex;
          align-items: center;
          padding-bottom: 30px;
          text-align: right;
          padding: 7px 6px;
          justify-content: space-between;
          border-bottom: 1px solid #ddd;
          .heading {
            flex-basis: 50%;
            h1 {
              font-size: 22px;
              font-weight: 400;
              margin-bottom: 0;
              color: #3eadf2;
              text-align: left;
            }
          }

          .heding-btn {
            flex-basis: 50%;
            .view-all {
              background-color: #ff482e;
              color: #ffffff;
            }
            .item-page {
              background-color: #87c846;
              color: #ffffff;
            }
          }
        }
        .table-main {
          min-width: 600px;
          background-color: #00aeef;
          // table {
          //     // border-collapse: collapse;
          //     width: 100%;
          //     th {
          //         padding: 6px 10px;
          //         border-bottom: 1px solid #e7e8e8;
          //         color: #929d9b;
          //         font-weight: 500;
          //         font-size: 13px;
          //         line-height: 1;
          //         text-align: left;
          //         span {
          //             font-size: 10px;
          //         }

          //         img {
          //             width: 17px;
          //             vertical-align: middle;
          //             margin-left: 6px;
          //         }
          //     }

          //     td {
          //         padding: 10px 10px;
          //         border-bottom: 1px solid #e7e8e8;
          //         color: #000;
          //         line-height: 1;
          //         text-align: left;
          //         .close {
          //             color: #ffff;
          //             line-height: 26px;
          //         }
          //         .boxed-main {
          //             .view-edit {
          //                 margin-left: 10px;
          //             }
          //         }
          //     }
          // }
        }
      }
      .right-table {
        flex: 1;
        background-color: #ffff;
        border: 1px solid #e7e8e8;
        border-radius: 4px;
        width: 100%;
        .table-heading {
          display: flex;
          align-items: center;
          padding-bottom: 30px;
          text-align: right;
          padding: 7px 6px;
          justify-content: space-between;
          border-bottom: 1px solid #ddd;
          .heading {
            flex-basis: 50%;
            h1 {
              font-size: 22px;
              font-weight: 600;
              margin-bottom: 0;
              color: #87c846;
              text-align: left;
            }
          }

          .heding-btn {
            flex-basis: 50%;
            .view-all {
              background-color: #ff482e;
              color: #ffffff;
            }
            .item-page {
              background-color: #87c846;
              color: #ffffff;
            }
          }
        }
        .table-main {
          min-width: 650px;
          table {
            border-collapse: collapse;
            width: 100%;
            th {
              padding: 6px 10px;
              border-bottom: 1px solid #e7e8e8;
              color: #929d9b;
              font-weight: 500;
              font-size: 13px;
              line-height: 1;
              span {
                font-size: 10px;
              }
              img {
                width: 17px;
                vertical-align: middle;
                margin-left: 6px;
              }
            }

            td {
              padding: 6px 5px;
              border-bottom: 1px solid #e7e8e8;
              color: #000;
              line-height: 1;
              text-align: center;
              .close {
                color: #ffff;
                line-height: 26px;
              }
              .boxed-main {
                .view-edit {
                  margin-left: 10px;
                }
              }
              .view-edit-btns {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .flex1 {
                  padding-right: 10px;
                  flex-basis: 34%;
                  .Boxed {
                    border: 2px solid #87c846;
                    padding: 1px 2px;
                    color: #87c846;
                    cursor: pointer;
                  }
                  .view-edit {
                    color: #fff;
                    margin-top: 10px;
                    line-height: 22px;
                    padding: 0px 0px;
                    font-size: 10px;
                  }
                }
                .flex2 {
                  flex-basis: 50%;
                  display: flex;
                  .mat-icon {
                    color: #87c846;
                    margin-right: 5px;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1400px) {
  .box-content-section {
    .box-content-main {
      .box-conten-table-main {
        .left-table {
          margin-right: 0px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .box-content-section .box-content-main .page-heading .heading-txt .mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .box-content-section {
    .box-content-main {
      .page-heading {
        .heading-txt {
          .heading-flex {
            h1 {
              font-size: 22px;
            }
          }
          .mat-icon {
            font-size: 50px;
            margin-right: 6px;
            width: 50px;
            height: 50px;
          }
        }
      }
      .field-flex {
        justify-content: center;
        .box-content-field {
          .fields-main {
            flex-direction: column;
            .radio-text {
              .radio-btn .mat-radio-group {
                flex-direction: row;
              }
              h4 {
                width: unset;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 530px) {
  .box-content-section {
    .box-content-main {
      .box-conten-table-main {
        .left-table,
        .right-table {
          .table-heading {
            flex-direction: column;
          }
        }
      }
      .page-heading {
        flex-direction: column;
        padding-bottom: 10px;
      }
      .field-flex {
        .box-content-field {
          .fields-main {
            .radio-text {
              .radio-btn {
                margin-left: 0px;
                margin-top: 10px;
              }
            }
            .input-btn {
              flex-direction: column;
              .input-main {
                margin-left: 0px;
              }
              .search-btn {
                .mat-button {
                  margin-left: 0px;
                  margin-top: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 460px) {
  .box-content-section {
    .box-content-main {
      .page-heading .heading-txt {
        flex-direction: column;
        margin-bottom: 10px;
      }
      .field-flex {
        .box-content-field {
          .fields-main {
            .radio-text {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
