<section class="side-bar">
    <div class="side-bar-main">
        <div class="slide-heading">
            <p>Make sure you are on the correct account when adding items to piles since items cannot be moved from one
                account’s pile to another</p>
        </div>
        <div class="market-dropdown">
            <div class="dropdown-main">
                <label>MARKETPLACE:</label>
                <mat-form-field appearance="fill">
                    <mat-select>
                        <mat-option value="option">SHOW ALL</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</section>
<div class="box-content-filter">
    <div class="box-content-filter-main">
        <h3>Shiment Info</h3>
        <table>
            <tr>
                <td>Tier</td>
                <td class="right"><span class="size">Stander Size</span></td>
            </tr>
            <tr>
                <td>Type</td>
                <td class="right"><span class="type-red ">Indvidule</span></td>
            </tr>
            <tr>
                <td>SKU's</td>
                <td class="right"><span>3</span></td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td class="right"><span>43</span></td>
            </tr>
        </table>
        <div class="sku-btns">
            <button mat-button color="primary" class=" red-badge Proceed sku">Print SKU's</button>
        </div>
    </div>
</div>