<div class="bulk-upload-history">
    <section class="history-top-hheading">
        <div class=" history-page-heading">
            <div class="heading-txt">
                <div>
                    <mat-icon>local_shipping</mat-icon>
                </div>
                <div class="heading-flex">
                    <h1>BULK UPLOAD HISTORY</h1>
                </div>
            </div>
            <div class="button-input">
                <div class="input-main"><input type="text" class="custom-inputs upload-input" placeholder="BU-1234567"></div>
                <div class="input-button"><button mat-raised-button color="primary" class="blue-btn search">SEARCH</button>
                </div>
            </div>
            <div class="button-dropdown">
                <div class="button">
                    <button mat-raised-button color="primary" class="green upload-new">UPLOAD NEW</button>
                </div>
                <div class="dropdown">

                    <label>MARKETPLACE:</label>
                    <mat-form-field appearance="fill">
                        <mat-select>
                            <mat-option value="SELLERCHAIN US">SELLERCHAIN US</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>
        </div>
    </section>
    <section class="history-table">
        <div class="table-main">
            <table>
                <tr>
                    <th>Bulk ID</th>
                    <th> Created On</th>
                    <th>Created By</th>
                    <th>Completed On</th>
                    <th>Ship From</th>
                    <th>Qty Submitted</th>
                    <th> Qty Successful</th>
                    <th> Status</th>
                    <th></th>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>-</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="red-badge error">ERROR </button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>-</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="red-badge error">ERROR </button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>-</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="dark-green error">PROCESSING </button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>-</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="dark-green error">PROCESSING </button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="blue-btn error">COMPLETE</button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="blue-btn error">COMPLETE</button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="blue-btn error">COMPLETE</button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="blue-btn error">COMPLETE</button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="blue-btn error">COMPLETE</button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="blue-btn error">COMPLETE</button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="blue-btn error">COMPLETE</button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="blue-btn error">COMPLETE</button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="blue-btn error">COMPLETE</button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="blue-btn error">COMPLETE</button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="blue-btn error">COMPLETE</button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="blue-btn error">COMPLETE</button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
                <tr>
                    <td>BU-1234567</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td>USER@SALERCHAIN.COM</td>
                    <td> SELLERCHAIN, 1060 LINWO...</td>
                    <td>11.5.19 AT 3:11 PM</td>
                    <td> 6 <span>SKU</span> | 6 <span>UNITS</span> </td>
                    <td>4 <span>SKU</span> | 4 <span>UNITS</span></td>

                    <td><button mat-raised-button color="primary" class="blue-btn error">COMPLETE</button></td>
                    <td><button mat-raised-button color="primary" class="yellow-badg view">VIEW</button></td>
                </tr>
            </table>
        </div>
    </section>
</div>
