<section class="add-new-item-section-main">
    <div class="main-item-add-new">
        <div class="top-title-info">
            <div class="panel-flex1">
                <h3> <span>STEP 2</span> ALL OF YOUR ITEMS WILL BE SENT TO ONE LOCATION:</h3>
            </div>
            
        </div>
     
            <div class="top-item-createshipping">
                <div class="top-item">
                    <table>
                        <tr class="header-tr">
                            <td style="width: 20%;">
                                <p>SHIP FROM ADDRESS:</p>
                            </td>
                            <td>
                                <p>TOP ITEM:</p>
                            </td>
                            <td>
                            
                            </td>
                            <td>
                            
                            </td>
                        </tr>
                        <tr class="content-tr">
                            <td>
                                <div class="shipping-address">
                                    <mat-select class="matSelectCustom" placeholder="Select Address">
                                        <!-- <mat-select-trigger>Select Address</mat-select-trigger> -->
                                        <mat-option value="option">SHOW ALL</mat-option>
                                        <mat-option value="option">SHOW ALL</mat-option>
                                        <mat-option value="option">SHOW ALL</mat-option>
                                        <mat-option value="option">SHOW ALL</mat-option>
                                    </mat-select>

                                    <p>SellerChain
                                    1060 Linwood Street
                                    Brooklyn, NY 11208</p>
                                </div>

                            </td>
                            <td>
                            <div class="item-image">
                                <div class="img-border">
                                    <img src="/assets/images/watch.png">
                                </div>
                            <button mat-raised-button color="primary" class="blue-btn smallBtn">TOP ITEM</button>
                            </div>
                            </td>
                            <td>
                            <div class="item-name">
                                <h3 class="link">FBA15FMTX9L3-NEW</h3>
                                <p>CONDITION: NEW</p>
                                <a class="item-id">B00RN08585</a>
                                <p>FN SKU:<span>X001RCAUQ5</span></p>
                                <div class="labelby">
                                    <p>Label by:<span>seller</span></p>
                                </div>
                                <p class="labels">LABEL | PREP REQUIRED:
                                <span>LABEL | POLYBAG | BUBBLE</span> </p>
                            </div>
                            </td>
                            <td>
                            <div class="item-brand">
                                <h3>Seiko Men’s Quartz Stainless Steel Watch,
                                        Color: Silver (Model: SUP865)</h3>
                                        <p class="total-units">TOTAL UNITS: <span>13</span></p>
                                <p><a>Dimensions:
                                        <span>3.3*3.8*5.1 inches</span></a> | <a>Unit Weight: <span>0.6 lbs</span></a> |
                                    <a>Total Weight: <span>15.00 lbs</span></a>
                                </p>
                            </div>
                            </td>
                        </tr>
                    </table>
                
                </div>
            </div>
         
 

    </div>
</section>

<section class="creating-text">
    <h3>YOU WILL BE CREATING <span class="bigCircleSpan">3</span> SEPARATE SHIPMENTS TO EACH OF THE FULFILLMENT CENTERS BELOW.</h3>
    <p>Only your ‘Top Item’ must be split up and sent to all these locations and you are
    required to send the quantity of units specified by each location.</p>
    <p>The rest of the items in your pile can all be added to any of these shipments.</p>
    <br>
    <h3>PLEASE CHOOSE A DESTINATION FOR THE REST OF THE ITEMS:</h3>
</section>

<section class="add-new-item-section-main">
    <div class="main-item-add-new">
        
    </div>
</section>

