<section class="content-details-section">
    <div class="content-details-main">
        <!-- ////////////////// BOX CONTENT HEADING HTML/////////////// -->
        <div class="page-heading">
            <div class="heading-txt">
                <div>
                    <mat-icon>local_shipping</mat-icon>
                </div>
                <div class="heading-flex">
                    <h1>Box Content Dashboard</h1>
                </div>
            </div>

            <div class="box-content-button">
                <div class="button">

                </div>

            </div>
        </div>

        <!-- ////////////////// BOX CONTENT FIELDS HTML/////////////// -->
        <div class="field-flex">
            <div class="fields-main">
                <div class="input-main">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Sear For SKU ASIN,...">
                    </mat-form-field>
                </div>
                <div class="search-btn">
                    <button mat-button color="primary">SEARCH</button>
                </div>
                <div class="select-field-main">
                    <select class="custom-inputs select-field">
                        <option>SCAN TO BOX</option>
                        <option>SCAN TO BOX</option>
                        <option>SCAN TO BOX</option>
                    </select>
                </div>
            </div>

            <div class="field-right">

            </div>
        </div>
        <!-- ////////////////// BOX CONTENT -- DESTAIL --- TABS/////////////// -->
        <div class="boxes-tabs-section">
            <div class="left-flex">
                <div class="boxes-tabs">
                    <mat-tab-group>
                        <mat-tab label="First">
                            <ng-template mat-tab-label>
                                <h2 class="heading">All</h2>
                            </ng-template>
                            <div class="tab-main">
                                <div class="table-mian">
                                    <table>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/watch.png">
                                            </td>
                                            <td>
                                                <h3>ASIN:</h3>
                                                <p>0516882239</p>
                                            </td>
                                            <td>
                                                <h3>ASIN:</h3>
                                                <p>0516882239</p>
                                            </td>
                                            <td>
                                                <h3>ASIN:</h3>
                                                <p>0516882239</p>
                                            </td>
                                            <td>
                                                <h3>ASIN:</h3>
                                                <p>0516882239</p>
                                            </td>
                                            <td>
                                                <h3>ASIN:</h3>
                                                <p>0516882239</p>
                                            </td>
                                            <td>
                                                <h3>ASIN:</h3>
                                                <p>0516882239</p>
                                            </td>
                                            <td>
                                                <button mat-button color="primary" class="yellow-badg ">Split
                                                    Me</button>
                                            </td>
                                            <td>
                                                <button mat-button color="primary" class="dark-gray-bdg">Print Item
                                                    Lable
                                                    ALL</button>
                                            </td>
                                            <td>
                                                <mat-icon><span class="material-icons">
                                                        delete
                                                    </span></mat-icon>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Second">
                            <ng-template mat-tab-label>
                                <h2>Unboxed</h2>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="Third">
                            <ng-template mat-tab-label>
                                <h2>Boxed</h2>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <div class="right-flex">

            </div>
        </div>




    </div>
</section>