<div class="addnew-item-main">
    <div class="addnew-content-section">
        <section class="new-item-heading-sec ">
            <div class="heading-main ">
                <div class="flex-1">
                    <div class="bar-img">
                        <img src="/assets/images/barcode.svg" alt="">
                    </div>
                    <div class="heading-text">
                        <h1>ADD ITEM</h1>
                    </div>
                </div>
                <div class="flex-2  ">
                    <div class="fields-main">
                        <div class="radio-text">
                            <h4>SEARCH TYPE:</h4>
                            <div class="radio-btn">
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="1">All</mat-radio-button>
                                    <mat-radio-button value="2">SELLER SKU</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="input-btn">
                            <div class="input-main">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <input matInput placeholder="Seiko Watch">
                                </mat-form-field>
                            </div>

                            <div class="search-btn">
                                <button mat-button color="primary">SEARCH</button>
                            </div>
                            <div class="fiter-icon">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">filter_alt</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="add-new-item-section-main">
            <div class="main-item-add-new">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>

                            <mat-panel-title>


                            </mat-panel-title>
                            <mat-panel-description>
                                <div class="item-Head">
                                    <div class="item-image">
                                        <div class="img-border">
                                            <img src="/assets/images/watch.png">
                                        </div>

                                    </div>
                                    <div class="item-name">
                                        <h3>B00RN08585</h3>
                                        <p>LIST PRICE:<span>$15.99</span></p>
                                        <div class="offers">
                                            <div class="offer-text">
                                                <h5>OFFERS:</h5>
                                            </div>
                                            <div class="offer-opption">
                                                <h5><span class="orange-badge">1</span>NEW</h5>
                                                <h5><span class="light-green">2</span>OTHER</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-brand">
                                        <h3><a href="#">Seiko Men’s Quartz Stainless Steel Watch,
                        Color: Silver (Model: SUP865)</a></h3>
                                        <p>Brand: Seiko | Part#: ABC-12435 Product Group: Watches | Apparal | Fashion Dimensions: 3.3*3.8*5.1 inches Unit Weight: 0.6 lbs | Total Weight: 15.00 lbs</p>
                                    </div>
                                    <div class="item-date-mfr">
                                        <h3>LAST SHIPPED: <span>March 12, 2018</span></h3>
                                        <h3>LAST SHIP ID: <span> FBA15FMTX9L3</span></h3>
                                        <h3>LABEL + PREP REQUIRED:<span> None</span></h3>
                                        <h3>SHIPPING TIER: <span> Standard Size</span></h3>
                                        <div class="rank-main">
                                            <div class="rank1">
                                                <h3>RANK:</h3>
                                            </div>
                                            <div class="rank2">
                                                <P>#14 in Fashion</P>
                                                <P>#2 in (see Amazon)</P>
                                                <P>#2 in (see Amazon)</P>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-button">
                                        <div class="button-img">
                                            <img src="/assets/images/mp-icon.jpg">
                                        </div>
                                        <div class="button-main">
                                            <button mat-raised-button color="primary">Primary</button>
                                        </div>
                                        <div class="button-link">
                                            <a href="#">View Parent</a>
                                        </div>
                                    </div>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="new-add-item-detail">
                            <div class="new-add-item-main-detail">
                                <div class="new-heading-detail">
                                    <div class="heading-main">
                                        <h1>FBA OFFERS</h1>
                                    </div>
                                    <div class="offer-status">
                                        <h2>
                                            <span class="orange-badge">1</span>AVAILABLE
                                        </h2>
                                        <h2><span class="dark-gray-bdg">2</span>OTHER MPs</h2>
                                    </div>
                                </div>
                                <div class="new-add-table">
                                    <table>
                                        <tr>
                                            <th></th>
                                            <th>Marketplace </th>
                                            <th>SKU</th>
                                            <th>FN SKU</th>
                                            <th>Condition</th>
                                            <th>Qty</th>
                                            <th>Price</th>
                                            <th>Shipped</th>
                                            <th>Ship ID </th>
                                            <th>Tier</th>

                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="red-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="red-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="red-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us orange-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="green-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier range-badge">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="orange-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us orange-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="green-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id ">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier o">4</span>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>

                            <mat-panel-title>


                            </mat-panel-title>
                            <mat-panel-description>
                                <div class="item-Head">
                                    <div class="item-image">
                                        <div class="img-border">
                                            <img src="/assets/images/watch.png">
                                        </div>

                                    </div>
                                    <div class="item-name">
                                        <h3>B00RN08585</h3>
                                        <p>LIST PRICE:<span>$15.99</span></p>
                                        <div class="offers">
                                            <div class="offer-text">
                                                <h5>OFFERS:</h5>
                                            </div>
                                            <div class="offer-opption">
                                                <h5><span class="orange-badge">1</span>NEW</h5>
                                                <h5><span class="light-green">2</span>OTHER</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-brand">
                                        <h3><a href="#">Seiko Men’s Quartz Stainless Steel Watch,
                        Color: Silver (Model: SUP865)</a></h3>
                                        <p>Brand: Seiko | Part#: ABC-12435 Product Group: Watches | Apparal | Fashion Dimensions: 3.3*3.8*5.1 inches Unit Weight: 0.6 lbs | Total Weight: 15.00 lbs</p>
                                    </div>
                                    <div class="item-date-mfr">
                                        <h3>LAST SHIPPED: <span>March 12, 2018</span></h3>
                                        <h3>LAST SHIP ID: <span> FBA15FMTX9L3</span></h3>
                                        <h3>LABEL + PREP REQUIRED:<span> None</span></h3>
                                        <h3>SHIPPING TIER: <span> Standard Size</span></h3>
                                        <div class="rank-main">
                                            <div class="rank1">
                                                <h3>RANK:</h3>
                                            </div>
                                            <div class="rank2">
                                                <P>#14 in Fashion</P>
                                                <P>#2 in (see Amazon)</P>
                                                <P>#2 in (see Amazon)</P>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-button">
                                        <div class="button-img">
                                            <img src="/assets/images/mp-icon.jpg">
                                        </div>
                                        <div class="button-main">
                                            <button mat-raised-button color="primary">Primary</button>
                                        </div>
                                        <div class="button-link">
                                            <a href="#">View Parent</a>
                                        </div>
                                    </div>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="new-add-item-detail">
                            <div class="new-add-item-main-detail">
                                <div class="new-heading-detail">
                                    <div class="heading-main">
                                        <h1>FBA OFFERS</h1>
                                    </div>
                                    <div class="offer-status">
                                        <h2>
                                            <span class="orange-badge">1</span>AVAILABLE
                                        </h2>
                                        <h2><span class="dark-gray-bdg">2</span>OTHER MPs</h2>
                                    </div>
                                </div>
                                <div class="new-add-table">
                                    <table>
                                        <tr>
                                            <th></th>
                                            <th>Marketplace </th>
                                            <th>SKU</th>
                                            <th>FN SKU</th>
                                            <th>Condition</th>
                                            <th>Qty</th>
                                            <th>Price</th>
                                            <th>Shipped</th>
                                            <th>Ship ID </th>
                                            <th>Tier</th>

                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="red-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="red-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="red-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us orange-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="green-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier range-badge">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="orange-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us orange-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="green-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id ">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier o">4</span>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>

                            <mat-panel-title>


                            </mat-panel-title>
                            <mat-panel-description>
                                <div class="item-Head">
                                    <div class="item-image flex-paddding">
                                        <div class="img-border">
                                            <img src="/assets/images/watch.png">
                                        </div>

                                    </div>
                                    <div class="item-name flex-paddding">
                                        <h3>B00RN08585</h3>
                                        <p>LIST PRICE:<span>$15.99</span></p>
                                        <div class="offers">
                                            <div class="offer-text">
                                                <h5>OFFERS:</h5>
                                            </div>
                                            <div class="offer-opption">
                                                <h5><span class="orange-badge">1</span>NEW</h5>
                                                <h5><span class="light-green">2</span>OTHER</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-brand flex-paddding">
                                        <h3><a href="#">Seiko Men’s Quartz Stainless Steel Watch,
                        Color: Silver (Model: SUP865)</a></h3>
                                        <p>Brand: Seiko | Part#: ABC-12435 Product Group: Watches | Apparal | Fashion Dimensions: 3.3*3.8*5.1 inches Unit Weight: 0.6 lbs | Total Weight: 15.00 lbs</p>
                                    </div>
                                    <div class="item-date-mfr flex-paddding">
                                        <h3>LAST SHIPPED: <span>March 12, 2018</span></h3>
                                        <h3>LAST SHIP ID: <span> FBA15FMTX9L3</span></h3>
                                        <h3>LABEL + PREP REQUIRED:<span> None</span></h3>
                                        <h3>SHIPPING TIER: <span> Standard Size</span></h3>
                                        <div class="rank-main">
                                            <div class="rank1">
                                                <h3>RANK:</h3>
                                            </div>
                                            <div class="rank2">
                                                <P>#14 in Fashion</P>
                                                <P>#2 in (see Amazon)</P>
                                                <P>#2 in (see Amazon)</P>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-button flex-paddding">
                                        <div class="button-img">
                                            <img class="" src="/assets/images/mp-icon.jpg">
                                        </div>
                                        <div class="button-main">
                                            <button mat-raised-button color="primary">ADD ITEM</button>
                                        </div>
                                        <div class="button-link">
                                            <a href="#">View Parent</a>
                                        </div>
                                    </div>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="new-add-item-detail">
                            <div class="new-add-item-main-detail">
                                <div class="new-heading-detail">
                                    <div class="heading-main">
                                        <h1>FBA OFFERS</h1>
                                    </div>
                                    <div class="offer-status">
                                        <h2>
                                            <span class="orange-badge">1</span>AVAILABLE
                                        </h2>
                                        <h2><span class="dark-gray-bdg">2</span>OTHER MPs</h2>
                                    </div>
                                </div>
                                <div class="new-add-table">
                                    <table>
                                        <tr>
                                            <th></th>
                                            <th>Marketplace </th>
                                            <th>SKU</th>
                                            <th>FN SKU</th>
                                            <th>Condition</th>
                                            <th>Qty</th>
                                            <th>Price</th>
                                            <th>Shipped</th>
                                            <th>Ship ID </th>
                                            <th>Tier</th>

                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="red-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier ">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="red-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td>
                                                <a href="#" class="ship-id">FBA15FMTX9L3</a>
                                            </td>
                                            <td>
                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="red-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier orange-badge">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us orange-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="green-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier ">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="orange-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us orange-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="green-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id ">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier orange-badge">4</span>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>

                            <mat-panel-title>


                            </mat-panel-title>
                            <mat-panel-description>
                                <div class="item-Head">
                                    <div class="item-image">
                                        <div class="img-border">
                                            <img src="/assets/images/watch.png">
                                        </div>

                                    </div>
                                    <div class="item-name">
                                        <h3>B00RN08585</h3>
                                        <p>LIST PRICE:<span>$15.99</span></p>
                                        <div class="offers">
                                            <div class="offer-text">
                                                <h5>OFFERS:</h5>
                                            </div>
                                            <div class="offer-opption">
                                                <h5><span class="orange-badge">1</span>NEW</h5>
                                                <h5><span class="light-green">2</span>OTHER</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-brand">
                                        <h3><a href="#">Seiko Men’s Quartz Stainless Steel Watch,
                        Color: Silver (Model: SUP865)</a></h3>
                                        <p>Brand: Seiko | Part#: ABC-12435 Product Group: Watches | Apparal | Fashion Dimensions: 3.3*3.8*5.1 inches Unit Weight: 0.6 lbs | Total Weight: 15.00 lbs</p>
                                    </div>
                                    <div class="item-date-mfr">
                                        <h3>LAST SHIPPED: <span>March 12, 2018</span></h3>
                                        <h3>LAST SHIP ID: <span> FBA15FMTX9L3</span></h3>
                                        <h3>LABEL + PREP REQUIRED:<span> None</span></h3>
                                        <h3>SHIPPING TIER: <span> Standard Size</span></h3>
                                        <div class="rank-main">
                                            <div class="rank1">
                                                <h3>RANK:</h3>
                                            </div>
                                            <div class="rank2">
                                                <P>#14 in Fashion</P>
                                                <P>#2 in (see Amazon)</P>
                                                <P>#2 in (see Amazon)</P>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-button">
                                        <div class="button-img">
                                            <img src="/assets/images/mp-icon.jpg">
                                        </div>
                                        <div class="button-main">
                                            <button mat-raised-button color="primary">Primary</button>
                                        </div>
                                        <div class="button-link">
                                            <a href="#">View Parent</a>
                                        </div>
                                    </div>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="new-add-item-detail">
                            <div class="new-add-item-main-detail">
                                <div class="new-heading-detail">
                                    <div class="heading-main">
                                        <h1>FBA OFFERS</h1>
                                    </div>
                                    <div class="offer-status">
                                        <h2>
                                            <span class="orange-badge">1</span>AVAILABLE
                                        </h2>
                                        <h2><span class="dark-gray-bdg">2</span>OTHER MPs</h2>
                                    </div>
                                </div>
                                <div class="new-add-table">
                                    <table>
                                        <tr>
                                            <th></th>
                                            <th>Marketplace </th>
                                            <th>SKU</th>
                                            <th>FN SKU</th>
                                            <th>Condition</th>
                                            <th>Qty</th>
                                            <th>Price</th>
                                            <th>Shipped</th>
                                            <th>Ship ID </th>
                                            <th>Tier</th>

                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="red-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="red-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="red-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us orange-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="green-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier range-badge">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us red-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="orange-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier">4</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/assets/images/plus.png">
                                            </td>
                                            <td>
                                                <span class="td-us orange-badge">us</span> SellerChain
                                            </td>
                                            <td><a class="link" href="#">FBA15FMTX9L3-NEW</a></td>
                                            <td>X001RCAUQ5</td>
                                            <td><button mat-raised-button color="primary" class="green-badge">New</button></td>
                                            <td>5</td>
                                            <td><b>$15.99</b></td>
                                            <td>12.31.18</td>
                                            <td><a href="#" class="ship-id ">FBA15FMTX9L3</a></td>
                                            <td>

                                                <span class="tier o">4</span>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>

            </div>
        </section>
    </div>
    <div class="addnew-sidebar">

        <section class="side-bar add-items-right-bar rigt-side-actions">
            <div class="side-bar-main add-item-reght-bar filters">


                <div class="market-dropdown">
                    <div class="dropdown-main">
                        <label>MARKETPLACE:</label>
                        <mat-form-field appearance="fill">
                            <mat-select>
                                <mat-option value="option">SHOW ALL</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                </div>

                <div class="plan-sec add-items-plan">
                    <h1>SHIPMENT PILES</h1>
                    <p>Select a pile to view contents.</p>
                    <h3>SELLER/NO LABEL PLANS</h3>
                    <div class="plan-main">
                        <div class="plan">
                            <div class="flex">
                                <h4>
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-color "><span class="material-icons">
                      lock
                    </span></mat-icon>STANDARD
                                </h4>
                            </div>
                            <div class="flex">
                                <h4> 3 SKU | 72 UNIT</h4>
                            </div>
                        </div>
                    </div>

                    <div class="plan-main pirot-badge">
                        <div class="plan">
                            <div class="flex">
                                <h4>HEAVY</h4>
                            </div>
                            <div class="flex">
                                <h4>
                                    3 SKU | 72 UNIT
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="plan-main gry-badge">
                        <div class="plan">
                            <div class="flex">
                                <h4>STANDARD</h4>
                            </div>
                            <div class="flex">
                                <h4> 3 SKU | 72 UNIT</h4>
                            </div>
                        </div>
                    </div>

                    <h3>AMAZON LABEL PLANS</h3>
                    <div class="plan-main">
                        <div class="plan">
                            <div class="flex">
                                <h4>
                                    STANDARD
                                </h4>
                            </div>
                            <div class="flex">
                                <h4> 3 SKU | 72 UNIT</h4>
                            </div>
                        </div>
                    </div>

                    <div class="plan-main orange-badge">
                        <div class="plan">
                            <div class="flex">
                                <h4>HEAVY</h4>
                            </div>
                            <div class="flex">
                                <h4>
                                    3 SKU | 72 UNIT
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>
</div>
<!-- <button mat-button (click)="openDialog()">Open dialog</button>
<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
    <h3>Develop across all platforms</h3>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->