<section [class.sidenav]="isExpanded" class="sidebar">
    <!-- <div class="toggle">
        <mat-icon (click)="toggleMenu.emit(null)">
            {{ isExpanded ? "keyboard_backspace" : "dehaze" }}
        </mat-icon>
    </div> -->
    <div #otherPotion class="other-potion" [style.height]='height'>
        <mat-list class="nav" *ngFor="let route of routeLinks">
            <a mat-list-item routerLinkActive="active-link" class="hover" routerLink="{{ route?.link }}">
                <mat-icon mat-list-icon>
                    {{ route.icon }}
                </mat-icon>
                <p matLine *ngIf="isExpanded">{{ route.name }}</p>
            </a>
            <div class="sublist" *ngIf="route?.children">
                <mat-list class="nav" *ngFor="let sublist of route?.children">
                    <a mat-list-item routerLinkActive="active-link" class="hover" routerLink="{{ sublist?.link }}">
                        <mat-icon mat-list-icon>
                            {{ sublist.icon }}
                        </mat-icon>
                        <p matLine *ngIf="isExpanded">{{ sublist.name }}</p>
                    </a>
                </mat-list>
            </div>
        </mat-list>
        <!-- <div
        class="resize-handle-bottom"
        mwlResizeHandle
        [resizeEdges]="{ bottom: true }"
      ></div> -->
    </div>


    <div class="user-potion" mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event)">
        <div class="resize-handle-top handel-img" mwlResizeHandle [resizeEdges]="{ top: true }"><img
                src="/assets/images/handel-border.png"></div>
        <mat-list class="nav">
            <a mat-list-item class="hover">
                <mat-icon mat-list-icon>
                    <span class="material-icons">
                        account_circle
                    </span>
                </mat-icon>
                <p matLine *ngIf="isExpanded">JHON SMITH</p>
            </a>

        </mat-list>
        <mat-list class="nav">
            <a mat-list-item class="hover">
                <mat-icon mat-list-icon>
                    <span class="material-icons">
                        message
                    </span>
                </mat-icon>
                <p matLine *ngIf="isExpanded">USER</p>
            </a>

        </mat-list>
        <mat-list class="nav">
            <a mat-list-item class="hover">
                <mat-icon mat-list-icon>
                    <span class="material-icons">
                        logout
                    </span>
                </mat-icon>
                <p matLine *ngIf="isExpanded">logout</p>
            </a>

        </mat-list>

    </div>
</section>