<!-----------Loads when user is logged in----------------->

<div class="sellerchain-wrapper" *ngIf="isLoggedIn">
  <app-topbar [isLoggedIn]="isLoggedIn" (toggleMenu)="toggleMenu()" [isExpanded]="isExpanded"></app-topbar>

  <mat-sidenav-container class="example-container" autosize>

    <mat-sidenav #sidenav fixedInViewport="false" mode="side" opened="{{ isExpanded }}">
      <app-sidebar [isExpanded]="isExpanded"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-container">


        <router-outlet></router-outlet>

        <div cdkDrag class="fab-main">
          <button (click)='onDragBtnClick();' [matMenuTriggerFor]="fabmanu"
            class="fab-button orange-badge">{{trigger.menuOpen?'-':'+'}}</button>

          <mat-menu #fabmanu="matMenu" class="manu-panel">
            <div class="fab-search-type-main" (click)="$event.stopPropagation();">
              <diV class="search-type">
                <h4>SEARCH TYPE:</h4>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">ALL</mat-radio-button>
                  <mat-radio-button value="2">SELLER SKU</mat-radio-button>
                </mat-radio-group>
              </diV>
              <div class="search-field">
                <div class="search-main">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Search an ASIN, UPC, SKU, keyword, etc...">
                  </mat-form-field>
                </div>
                <div class="search-btn">
                  <button mat-button color="primary" routerLink="/scanship/newaddItem">Search</button>
                </div>
              </div>
            </div>
          </mat-menu>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<!-----------Loads when user is not logged in----------------->

<div class="sellerchain-wrapper" *ngIf="!isLoggedIn">
  <app-topbar (toggleMenu)="toggleMenu()" [isExpanded]="isExpanded"></app-topbar>
  <div class="accounts-main">
    <router-outlet></router-outlet>
  </div>
</div>