<div class="split-popup-section box-steup">
    <h1>Common Box Setup
        <mat-icon (click)='skipModal()'>close</mat-icon>
    </h1>

    <div class="table-main">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
        <table>
            <tr>
                <th>
                    SKU
                </th>
                <th>
                    Quantity
                </th>
                <th>

                </th>
            </tr>
            <tr>
                <td>
                    SKU: GH-KEL-6
                </td>
                <td class="scandry">
                    is always 6 in a box
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    SKU: GH-KEL-6
                </td>
                <td class="scandry">
                    is always 6 in a box
                </td>
                <td>

                </td>
            </tr>

        </table>
    </div>

    <div class="split-btn-main ">
        <button mat-button color="primary" class=" blue-btn split">CREATE BOX</button>
        <button mat-button color="primary" (click)='skipModal()' class=" dark-gray-bdg split cancel">CANCEL</button>
    </div>

</div>