<!-- ///////////////////////////////////////////////BOX CONTENT POPUP 2//////////////////// -->
<!-- <div class="split-popup-section">
    <h1>Add Box Manifest
        <mat-icon>close</mat-icon>
    </h1>
    <div class="split-details-add">
        <div class="flex1">
            <div class="item-img">
                <img src="/assets/images/watch.png">
            </div>
            <div class="item-detail">
                <h3>Total Quantity: <span>16</span></h3>
                <h3>Remaining Quantity:<span>6</span></h3>
            </div>
        </div>
        <div class="add-icon">
            <mat-icon>add</mat-icon>
        </div>
    </div>
    <div class="table-main">
        <table>

            <tr>
                <td>
                    <div class="input-main">
                        <label for=""> Transfer Quantity</label>
                        <input type="text" value="3" class="input">
                    </div>
                </td>
                <td>
                    <div class="input-main">
                        <label for="">Box#</label>
                        <input type="text" value="Box # 2" class="input box">
                    </div>
                </td>
                <td></td>
                <td></td>
                <td>
                    <div class="icons">
                        <div class="edit">
                            <mat-icon>edit</mat-icon>
                        </div>
                        <div class="del">
                            <mat-icon>delete</mat-icon>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-main">
                        <label for=""> Transfer Quantity</label>
                        <input type="text" value="3" class="input">
                    </div>
                </td>
                <td>
                    <div class="input-main">
                        <label for="">Box#</label>
                        <input type="text" value="Box # 2" class="input box">
                    </div>
                </td>
                <td></td>
                <td></td>
                <td>
                    <div class="icons">
                        <div class="edit">
                            <mat-icon>edit</mat-icon>
                        </div>
                        <div class="del">
                            <mat-icon>delete</mat-icon>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>


    <div class="split-btn-main ">

        <button mat-button color="primary" class=" blue-btn split">Split Items</button>
    </div>

</div> -->
<!-- ///////////////////////////////////////////////BOX CONTENT POPUP 2//////////////////// -->
<div class="split-popup-section">
    <h1>Add Box Manifest
        <mat-icon>close</mat-icon>
    </h1>
    <div class="split-details-add">
        <div class="flex1">
            <div class="item-img">
                <img src="/assets/images/watch.png">
            </div>
            <div class="item-detail">
                <h3>Total Quantity: <span>16</span></h3>
                <h3>Remaining Quantity:<span>6</span></h3>
            </div>
        </div>
        <div class="add-icon">
            <mat-icon>add</mat-icon>
        </div>
    </div>
    <div class="table-main">
        <table>
            <tr>
                <td>
                    <div class="input-main">
                        <label for=""> Transfer Quantity</label>
                        <input type="text" value="3" class="input">
                    </div>
                </td>
                <td>
                    <div class="input-main">
                        <label for="">Box#</label>
                        <input type="text" value="Box # 2" class="input box">
                    </div>
                </td>
                <td></td>
                <td></td>
                <td>
                    <div class="icons">
                        <div class="edit">

                            <mat-icon>save</mat-icon>
                        </div>
                        <div class="del">

                            <mat-icon>close</mat-icon>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-main">
                        <label for=""> Transfer Quantity</label>
                        <input type="text" value="3" class="input">
                    </div>
                </td>
                <td>
                    <div class="input-main">
                        <label for="">Box#</label>
                        <input type="text" value="Box # 2" class="input box">
                    </div>
                </td>
                <td></td>
                <td></td>
                <td>
                    <div class="icons">
                        <div class="edit">
                            <mat-icon>edit</mat-icon>
                        </div>
                        <div class="del">
                            <mat-icon>delete</mat-icon>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-main">
                        <label for=""> Transfer Quantity</label>
                        <input type="text" value="3" class="input">
                    </div>
                </td>
                <td>
                    <div class="input-main">
                        <label for="">Box#</label>
                        <input type="text" value="Box # 2" class="input box">
                    </div>
                </td>
                <td></td>
                <td></td>
                <td>
                    <div class="icons">
                        <div class="edit">
                            <mat-icon>edit</mat-icon>
                        </div>
                        <div class="del">
                            <mat-icon>delete</mat-icon>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="split-btn-main ">
        <button mat-button color="primary" class=" blue-btn split">Split Items</button>
    </div>

</div> -->
<!-- ///////////////////////////////////////////////BOX CONTENT POPUP 3//////////////////// -->

<!-- ///////////////////////////////////////////////BOX CONTENT POPUP 3//////////////////// -->
<!-- <div class="split-popup-section warning">
    <h1>You are adding more then 50 LBS to one box
        <mat-icon>close</mat-icon>
    </h1>
    <p>Doing so may incur:charge form Amazon</p>
    <div class="ammunt-input">
        <label for=""> Add Amount</label>
        <input type="text" value="3" class="input">
    </div>
    <div class=" proceed-btns">
        <a>cancle</a>
        <button mat-button color="primary" class=" light-green  Proceed ">PROCEED WITH ALL</button>
        <button mat-button color="primary" class=" blue-btn Proceed">ADD</button>
    </div>
</div> -->