<section class="add-ship-section">
    <div class="heading-main">
        <div class="heading-icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon"> local_shipping </mat-icon>
        </div>
        <div class="heading-text">
            <h1>ADD TO SHIPMENT</h1>
        </div>
    </div>


    <div class="add-ship-main">
        <div class="tbale-heading">
            <h2>ADD TO EXISTING SHIPMENT</h2>
        </div>
        <div class="table-text">
            <p>Use the radio buttons to select the active open shipment you wish to add your item(s) to. Then click on
                ‘ADD TO SHIPMENT’.
                <br>If you know the Shipment ID for a shipemnt that is not listed below please use the Add Manually
                section below this one.
            </p>
        </div>

        <div class="table-mian">
            <table>
                <tr>
                    <th></th>
                    <th>Shipment ID</th>
                    <th>Shipment Name</th>
                    <th>Cart</th>
                    <th>Last Modified</th>
                    <th>Destination</th>
                    <th>Weight</th>
                    <th>Shipped</th>
                    <th>Recieved</th>
                    <th>Label</th>
                    <th>Shipping Tier</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>
                        <mat-radio-button value="1"></mat-radio-button>
                    </td>
                    <td><a href="#" class="link">FBA15FMTX9L3</a></td>
                    <td>
                        <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                    </td>
                    <td>
                        <p>SellerChain <span class="us red-badge">us</span> </p>
                    </td>
                    <td>
                        <p>Jan 12, 2019 | <span>5:29PM</span></p>
                    </td>
                    <td>
                        <p><b>PHX6</b>| Phoenix, AZ 85043</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller bluesh-white">SELLER</button>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller bluesh-white">STANDARD</button>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller red-badge">WORKING</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-radio-button value="1"></mat-radio-button>
                    </td>
                    <td><a href="#" class="link">FBA15FMTX9L3</a></td>
                    <td>
                        <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                    </td>
                    <td>
                        <p>SellerChain <span class="us red-badge">us</span> </p>
                    </td>
                    <td>
                        <p>Jan 12, 2019 | <span>5:29PM</span></p>
                    </td>
                    <td>
                        <p><b>PHX6</b>| Phoenix, AZ 85043</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller green-badge">SELLER</button>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller orange-badge">STANDARD</button>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller red-badge">WORKING</button>
                    </td>
                </tr>
            </table>

        </div>
        <div class="shipment-btn">
            <button mat-raised-button color="primary" class="shipment bluesh-white">ADD TO SHIPMENT</button>
        </div>
    </div>
    <div class="add-ship-main">
        <div class="tbale-heading">
            <h2>ADD TO EXISTING SHIPMENT</h2>
        </div>
        <div class="table-text">
            <p>Use the radio buttons to select the active open shipment you wish to add your item(s) to. Then click on
                ‘ADD TO SHIPMENT’.
                <br>If you know the Shipment ID for a shipemnt that is not listed below please use the Add Manually
                section below this one.
            </p>
        </div>
        <div class="id-input">
            <div class="input-label">
                <label for="">SHIPMENT ID:</label>
            </div>

            <div class="input-main">
                <input type="text" class="custom-inputs">
            </div>

        </div>
        <div class="table-mian">
            <table>
                <tr>
                    <th></th>
                    <th>Shipment ID</th>
                    <th>Shipment Name</th>
                    <th>Cart</th>
                    <th>Last Modified</th>
                    <th>Destination</th>
                    <th>Weight</th>
                    <th>Shipped</th>
                    <th>Recieved</th>
                    <th>Label</th>
                    <th>Shipping Tier</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>
                        <mat-radio-button value="1"></mat-radio-button>
                    </td>
                    <td><a href="#" class="link">FBA15FMTX9L3</a></td>
                    <td>
                        <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                    </td>
                    <td>
                        <p>SellerChain <span class="us red-badge">us</span> </p>
                    </td>
                    <td>
                        <p>Jan 12, 2019 | <span>5:29PM</span></p>
                    </td>
                    <td>
                        <p><b>PHX6</b>| Phoenix, AZ 85043</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller bluesh-white">SELLER</button>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller bluesh-white">STANDARD</button>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller red-badge">WORKING</button>
                    </td>
                </tr>

            </table>

        </div>
        <div class="shipment-btn">
            <button mat-raised-button color="primary" class="shipment bluesh-white">ADD TO SHIPMENT</button>
        </div>
    </div>
    <div class="add-ship-main ">
        <div class="tbale-heading">
            <h2>ITEM(S) TO ADD: <span class="orange-badge">6</span></h2>

        </div>
        <div class="pils-table ">

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    </mat-panel-title>
                    <mat-panel-description>
                        <div class="item-Head">
                            <!-- <div class="actions-items">
                                <div class="inddex">
                                    1.
                                </div>
                                <div class="icons">
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                                </div>
                                <div class="icons">
                                    <img src="/assets/images/fba-icon.png">
                                </div>
                                <div class="icons">
                                    <img src="/assets/images/delete-icon.png">
                                </div>


                            </div> -->
                            <div class="item-image">
                                <div class="img-border">
                                    <img src="/assets/images/watch.png">
                                </div>

                            </div>
                            <div class="item-name">
                                <h3 class="link">FBA15FMTX9L3-NEW</h3>
                                <p>CONDITION:<span>NEW</span></p>
                                <a class="item-id">B00RN08585</a>
                                <p>FN SKU:<span>X001RCAUQ5</span></p>
                                <div class="labelby">
                                    <p>Label by:<span>
                                            <input type="text" placeholder="SELLER" class="disable custom-inputs"
                                                [ngClass]="isEditable ? 'disable' : 'enable'">
                                        </span>
                                        <span>
                                            <mat-icon (click)="isEditable = !isEditable">
                                                <span *ngIf="isEditable">edit</span>
                                                <span *ngIf="!isEditable"><img style="width:20px"
                                                        src="/assets/images/greentick.png"></span>
                                            </mat-icon>
                                        </span>
                                    </p>
                                </div>
                                <p class="labels">LABEL | PREP REQUIRED: LABEL | POLYBAG | BUBBLE</p>
                            </div>
                            <div class="item-brand">
                                <h3><a href="#">Seiko Men’s Quartz Stainless Steel Watch,
                                        Color: Silver (Model: SUP865)</a></h3>
                                <p> <a>Brand: <span>Seiko</span></a> | <a>Part#: <span>ABC-12435</span></a> | <a>Product
                                        Group: <span>Watches | Apparal | Fashion</span></a> | <a>Dimensions:
                                        <span>3.3*3.8*5.1 inches</span></a> <a>Unit Weight: <span>0.6 lbs</span></a> |
                                    <a>Total Weight: <span>15.00 lbs</span></a>
                                </p>
                            </div>
                            <div class="totalUnits">
                                <div class="units-price">
                                    <label>Total Units:</label>
                                    <input type="text">
                                </div>
                                <div class="units-price">
                                    <label>Price:</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="item-buttons">
                                <div class="units-price">
                                    <label>PRINT QTY:</label>
                                    <input type="text">
                                </div>
                                <div class="button-main">

                                    <select>
                                        <option value="" selected>Print Label(s)</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                    <div class="icon-img">
                                        <img src="/assets/images/fba-icon.png" alt="">
                                    </div>

                                </div>
                                <div class="button-link">
                                    <button mat-raised-button disabled>SAVE FOR LATER</button>

                                </div>
                            </div>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="new-add-item-detail">
                    <div class="new-add-item-main-detail">

                        <div class="table-lfex-main">
                            <div class="new-add-table">
                                <table>
                                    <tr>
                                        <th>
                                            <mat-radio-button value="1"></mat-radio-button>
                                        </th>
                                        <th>UNITS</th>
                                        <th>FC</th>
                                        <th>LOCATION</th>
                                    </tr>
                                    <tr>
                                        <td>A.</td>
                                        <td><span class="unit orange-badge">6</span></td>
                                        <td><span class="orange-badge td-fc">ONT6</span></td>
                                        <td>
                                            <h6>Moreno Valley, CA 92551</h6>
                                            <p>Last Checked: 5 hours ago</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>A.</td>
                                        <td><span class="unit orange-badge">6</span></td>
                                        <td><span class="orange-badge td-fc">ONT6</span></td>
                                        <td>
                                            <h6>Moreno Valley, CA 92551</h6>
                                            <p>Last Checked: 5 hours ago</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>A.</td>
                                        <td><span class="unit orange-badge">6</span></td>
                                        <td><span class="orange-badge td-fc">ONT6</span></td>
                                        <td>
                                            <h6>Moreno Valley, CA 92551</h6>
                                            <p>Last Checked: 5 hours ago</p>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </mat-expansion-panel>



        </div>
        <div class="pils-table ">

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    </mat-panel-title>
                    <mat-panel-description>
                        <div class="item-Head">
                            <!-- <div class="actions-items">
                              <div class="inddex">
                                  1.
                              </div>
                              <div class="icons">
                                  <mat-checkbox class="example-margin"></mat-checkbox>
                              </div>
                              <div class="icons">
                                  <img src="/assets/images/fba-icon.png">
                              </div>
                              <div class="icons">
                                  <img src="/assets/images/delete-icon.png">
                              </div>


                          </div> -->
                            <div class="item-image">
                                <div class="img-border">
                                    <img src="/assets/images/watch.png">
                                </div>

                            </div>
                            <div class="item-name">
                                <h3 class="link">FBA15FMTX9L3-NEW</h3>
                                <p>CONDITION:<span>NEW</span></p>
                                <a class="item-id">B00RN08585</a>
                                <p>FN SKU:<span>X001RCAUQ5</span></p>
                                <div class="labelby">
                                    <p>Label by:<span><input type="text" placeholder="SELLER" disabled
                                                class="disable custom-inputs"></span> <span>
                                            <mat-icon>edit</mat-icon>
                                        </span></p>
                                </div>
                                <p class="labels">LABEL | PREP REQUIRED: LABEL | POLYBAG | BUBBLE</p>
                            </div>
                            <div class="item-brand">
                                <h3><a href="#">Seiko Men’s Quartz Stainless Steel Watch,
                                        Color: Silver (Model: SUP865)</a></h3>
                                <p> <a>Brand: <span>Seiko</span></a> | <a>Part#: <span>ABC-12435</span></a> | <a>Product
                                        Group: <span>Watches | Apparal | Fashion</span></a> | <a>Dimensions:
                                        <span>3.3*3.8*5.1 inches</span></a> <a>Unit Weight: <span>0.6 lbs</span></a> |
                                    <a>Total Weight: <span>15.00 lbs</span></a>
                                </p>
                            </div>
                            <div class="totalUnits">
                                <div class="units-price">
                                    <label>Total Units:</label>
                                    <input type="text">
                                </div>
                                <div class="units-price">
                                    <label>Price:</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="item-buttons">
                                <div class="units-price">
                                    <label>PRINT QTY:</label>
                                    <input type="text">
                                </div>
                                <div class="button-main">

                                    <select>
                                        <option value="" selected>Print Label(s)</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                    <div class="icon-img">
                                        <img src="/assets/images/fba-icon.png" alt="">
                                    </div>

                                </div>
                                <div class="button-link">
                                    <button mat-raised-button disabled>SAVE FOR LATER</button>

                                </div>
                            </div>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="new-add-item-detail">
                    <div class="new-add-item-main-detail">

                        <div class="table-lfex-main">
                            <div class="new-add-table">
                                <table>
                                    <tr>
                                        <th>
                                            <mat-radio-button value="1"></mat-radio-button>
                                        </th>
                                        <th>UNITS</th>
                                        <th>FC</th>
                                        <th>LOCATION</th>
                                    </tr>
                                    <tr>
                                        <td>A.</td>
                                        <td><span class="unit orange-badge">6</span></td>
                                        <td><span class="orange-badge td-fc">ONT6</span></td>
                                        <td>
                                            <h6>Moreno Valley, CA 92551</h6>
                                            <p>Last Checked: 5 hours ago</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>A.</td>
                                        <td><span class="unit orange-badge">6</span></td>
                                        <td><span class="orange-badge td-fc">ONT6</span></td>
                                        <td>
                                            <h6>Moreno Valley, CA 92551</h6>
                                            <p>Last Checked: 5 hours ago</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>A.</td>
                                        <td><span class="unit orange-badge">6</span></td>
                                        <td><span class="orange-badge td-fc">ONT6</span></td>
                                        <td>
                                            <h6>Moreno Valley, CA 92551</h6>
                                            <p>Last Checked: 5 hours ago</p>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </mat-expansion-panel>



        </div>
    </div>
</section>