<section class="add-ship-section">
    <div class="heading-main">
        <div class="heading-icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon">speed</mat-icon>
        </div>
        <div class="heading-text">
            <h1>ADD TO SHIPMENT</h1>
        </div>
    </div>


    <div class="add-ship-main">
        <div class="tbale-heading">
            <h2>ADD TO EXISTING SHIPMENT</h2>
        </div>
        <div class="table-text">
            <p>Use the radio buttons to select the active open shipment you wish to add your item(s) to. Then click on ‘ADD TO SHIPMENT’.
                <br>If you know the Shipment ID for a shipemnt that is not listed below please use the Add Manually section below this one.
            </p>
        </div>

        <div class="table-mian">
            <table>
                <tr>
                    <th></th>
                    <th>Shipment ID</th>
                    <th>Shipment Name</th>
                    <th>Cart</th>
                    <th>Last Modified</th>
                    <th>Destination</th>
                    <th>Weight</th>
                    <th>Shipped</th>
                    <th>Recieved</th>
                    <th>Label</th>
                    <th>Shipping Tier</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>
                        <mat-radio-button value="1"></mat-radio-button>
                    </td>
                    <td><a href="#" class="link">FBA15FMTX9L3</a></td>
                    <td>
                        <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                    </td>
                    <td>
                        <p>SellerChain <span class="us red-badge">us</span> </p>
                    </td>
                    <td>
                        <p>Jan 12, 2019 | <span>5:29PM</span></p>
                    </td>
                    <td>
                        <p><b>PHX6</b>| Phoenix, AZ 85043</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller bluesh-white">SELLER</button>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller bluesh-white">STANDARD</button>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller red-badge">WORKING</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-radio-button value="1"></mat-radio-button>
                    </td>
                    <td><a href="#" class="link">FBA15FMTX9L3</a></td>
                    <td>
                        <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                    </td>
                    <td>
                        <p>SellerChain <span class="us red-badge">us</span> </p>
                    </td>
                    <td>
                        <p>Jan 12, 2019 | <span>5:29PM</span></p>
                    </td>
                    <td>
                        <p><b>PHX6</b>| Phoenix, AZ 85043</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller green-badge">SELLER</button>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller orange-badge">STANDARD</button>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller red-badge">WORKING</button>
                    </td>
                </tr>
            </table>

        </div>
        <div class="shipment-btn">
            <button mat-raised-button color="primary" class="shipment bluesh-white">ADD TO SHIPMENT</button>
        </div>
    </div>
    <div class="add-ship-main">
        <div class="tbale-heading">
            <h2>ADD TO EXISTING SHIPMENT</h2>
        </div>
        <div class="table-text">
            <p>Use the radio buttons to select the active open shipment you wish to add your item(s) to. Then click on ‘ADD TO SHIPMENT’.
                <br>If you know the Shipment ID for a shipemnt that is not listed below please use the Add Manually section below this one.
            </p>
        </div>
        <div class="id-input">
            <div class="input-label">
                <label for="">SHIPMENT ID:</label>
            </div>

            <div class="input-main">
                <input type="text" class="custom-inputs">
            </div>

        </div>
        <div class="table-mian">
            <table>
                <tr>
                    <th></th>
                    <th>Shipment ID</th>
                    <th>Shipment Name</th>
                    <th>Cart</th>
                    <th>Last Modified</th>
                    <th>Destination</th>
                    <th>Weight</th>
                    <th>Shipped</th>
                    <th>Recieved</th>
                    <th>Label</th>
                    <th>Shipping Tier</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>
                        <mat-radio-button value="1"></mat-radio-button>
                    </td>
                    <td><a href="#" class="link">FBA15FMTX9L3</a></td>
                    <td>
                        <p>PHX6 - MIX 3/4/2019 8:10 PM</p>
                    </td>
                    <td>
                        <p>SellerChain <span class="us red-badge">us</span> </p>
                    </td>
                    <td>
                        <p>Jan 12, 2019 | <span>5:29PM</span></p>
                    </td>
                    <td>
                        <p><b>PHX6</b>| Phoenix, AZ 85043</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <p>1|50</p>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller bluesh-white">SELLER</button>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller bluesh-white">STANDARD</button>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" class="seller red-badge">WORKING</button>
                    </td>
                </tr>

            </table>

        </div>
        <div class="shipment-btn">
            <button mat-raised-button color="primary" class="shipment bluesh-white">ADD TO SHIPMENT</button>
        </div>
    </div>
</section>