<section class="add-item-sec">
    <div class="add-item-main">
        <div class="add-item-headings">
            <h1>ADD ITEM</h1>
            <p>Add items to a shipment pile to start creating a shipment.</p>
            <h5>Start by scanning or searching for items below.</h5>
            <p>Results will include your existing Marketplace listings as well as any relevant items from Amazon’s
                catalog.
            </p>
            <p>look for the <img src="/assets/images/amazon.png">symbol to distinguish your active listings
                from.<br>Amazon’s results which will bear the<img src="/assets/images/amazon.png"> symbol.
            </p>
        </div>
        <div class="serch-feild-flex">
            <div class="flex-basis-1">
                <img src="/assets/images/add-item-barcode.png">
            </div>
            <div class="flex-basis-2">
                <h2>OR</h2>
            </div>
            <div class="flex-basis-3">
                <diV class="search-type">
                    <h4>SEARCH TYPE:</h4>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">ALL</mat-radio-button>
                        <mat-radio-button value="2">SELLER SKU</mat-radio-button>
                    </mat-radio-group>
                </diV>
                <div class="search-field">
                    <div class="search-main">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <input matInput placeholder="Search an ASIN, UPC, SKU, keyword, etc...">
                        </mat-form-field>
                    </div>
                    <div class="search-btn">
                        <button mat-button color="primary">Search</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="header-btn">
            <div class="header-btn-main">
                <div class="btn-flex-1">
                    <div class="btn-text">
                        <p>I know which item I want,<br>it’s an active listing of mine.<br>Take me to:</p>
                        <button mat-button color="primary">MY LISTINGS</button>
                    </div>

                </div>
                <div class="btn-flex-2">
                    <div class="btn-text">
                        <p>I have a bunch of items to ship.<br> and have a list with all of the info.<br>Take me to:</p>
                        <button mat-button color="primary">BULK ITEM UPLOAD</button>
                    </div>


                </div>
            </div>

        </div>

    </div>

</section>
<diV class="overly-image">
    <div class="left-image">

    </div>
    <div class="right-image">

    </div>
</diV>
<section class="about-adding-sec">
    <div class="about-adding-main">
        <h1>ABOUT ADDING PRODUCTS</h1>
        <div class="text-about-product">
            <div class="produs-flex">
                <diV class="flex-text">
                    <h2>Adding Products</h2>
                    <p>Get the basics of adding products
                        <br>to start creating shipments.
                    </p>
                </diV>


            </div>
            <div class="produs-flex">
                <diV class="flex-text">
                    <h2>Show Variations</h2>
                    <p>Use this feature to easily ﬁnd item<br> variations to list your product.</p>
                </diV>
            </div>
        </div>
        <div class="text-about-product">
            <div class="produs-flex">
                <diV class="flex-text">
                    <h2>Adding Products</h2>
                    <p>Get the basics of adding products
                        <br>to start creating shipments.
                    </p>
                </diV>


            </div>
            <div class="produs-flex">
                <diV class="flex-text">
                    <h2>Show Variations</h2>
                    <p>Use this feature to easily ﬁnd item<br> variations to list your product.</p>
                </diV>
            </div>
        </div>
    </div>
</section>