<div class="new-seller-popup">
    <div class="pop-up-section">
        <div class="pop-up-main">
            <div class="right-flex">
                <h1>REPLENISH AN EXISTING OR CREATE A NEW SELLER OFFER</h1>
                <div class="table-main">
                    <h1>MATCH A CURRENT LISTING <span>6</span></h1>
                    <table>
                        <tr>
                            <th>ASIN</th>
                            <th>Condition</th>
                            <th>Feedback</th>
                            <th>Rank</th>
                            <th>List Price</th>
                        </tr>
                        <tr>
                            <td>
                                <h1><a class="link">B07VR673C2</a></h1>
                            </td>
                            <td>
                                <p>TX9L4-NEW</p>
                            </td>
                            <td>
                                <p>13,465</p>
                            </td>
                            <td>
                                <p>94-98%</p>
                            </td>
                            <td>
                                <p><a class="link3">$14.99</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h1><a class="link">B07VR673C2</a></h1>
                            </td>
                            <td>
                                <p>TX9L4-NEW</p>
                            </td>
                            <td>
                                <p>13,465</p>
                            </td>
                            <td>
                                <p>94-98%</p>
                            </td>
                            <td>
                                <p><a class="link3">$14.99</a></p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="left-flex">
                <div class="pop-up-icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
                </div>
                <div class="flex-text">
                    <p>Match an existing offer below by clicking on the List Price</p>
                    <p>Or use the available options to create a new offer or to replenish your existing SKU</p>
                    <p>Changing the SKU Name will create a new SKU.</p>
                </div>
            </div>
        </div>
        <section class="popup-input-section">
            <div class="popup-input-dropdown">
                <div class="drop-down-main">
                    <mat-select class="matSelectCustom" placeholder="Select Address">
                        <!-- <mat-select-trigger>Select Address</mat-select-trigger> -->
                        <mat-option value="option">SHOW ALL</mat-option>
                        <mat-option value="option">SHOW ALL</mat-option>
                        <mat-option value="option">SHOW ALL</mat-option>
                        <mat-option value="option">SHOW ALL</mat-option>
                    </mat-select>
                </div>
                <div class="dropdown-button">
                    <button mat-raised-button color="primary" class="light-green">ADD CONDITION NOTE</button>
                </div>


            </div>
            <div class="popup-input">
                <div class="inputs-main">
                    <div class="input-flex1">
                        <label>SKU NAME:<mat-checkbox class="example-margin">AUTO-GENERATE</mat-checkbox></label>
                        <div><input type="email" class="custom-inputs input-width" placeholder="B07D4BF1LY-NEWITEM-FBA"></div>
                    </div>

                    <div class="input-flex2">
                        <label>QTY:</label>
                        <div><input type="email" placeholder="1" class="custom-inputs input-width"></div>
                    </div>
                    <div class="input-flex3">
                        <label>RACE</label>
                        <div><input type="email" placeholder="19.33$" class="custom-inputs input-width"></div>
                    </div>
                </div>
            </div>
            <div class="print-lable-section">
                <div class="print-lable-main">
                    <div class="print-lable-flex1">
                        <h3>THIS ITEM REQUIRES:</h3>
                        <h1>LABELING + POLY-BAGGING + BUBBLE WRAP</h1>
                        <h3>CHOOSE LABEL | PREP OWNER:</h3>
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">SELLER</mat-radio-button>
                            <mat-radio-button value="2">AMAZON (FEES APPLY)</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="print-lable-flex2">
                        <div class="input">
                            <label>QTY:</label>
                            <div><input type="email" placeholder="19.33$" class="custom-inputs input-width"></div>
                        </div>
                        <div class="input-button">
                            <mat-checkbox class="example-margin">PRINT ONLY
                            </mat-checkbox>
                            <button mat-raised-button color="primary" class="light-green">PRINT LABEL(S)</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="error-section">
                <div class="error-main">
                    <div class="error-main-flex1">
                        <h1>
                            <mat-icon aria-hidden="false" aria-label="Example home icon">warning</mat-icon> AMAZON ERROR:
                        </h1>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor</p>
                    </div>
                    <div class="error-main-flex2">
                        <h2>ITEM WILL BE ADDED TO ITS APPROPRIATE PILE:</h2>
                        <button mat-raised-button color="primary" class="dark-gray-bdg right">CANCEL</button>
                        <button mat-raised-button color="primary" class="orange-badge">LABEL + PREP REQUIRED: None
            </button>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
