<section class="content-details-section">
    <div class="content-details-main">
        <!-- ////////////////// BOX CONTENT HEADING HTML/////////////// -->
        <div class="page-heading">
            <div class="heading-txt">
                <div>
                    <mat-icon>inventory_2</mat-icon>
                </div>
                <div class="heading-flex">
                    <h1>Box Content Details</h1>
                </div>
            </div>
            <div class="box-content-button">
                <div class="button">

                </div>

            </div>
        </div>

        <!-- ////////////////// BOX CONTENT FIELDS HTML/////////////// -->
        <div class="field-flex">
            <div class="fields-main">
                <div class="input-main">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Sear For SKU ASIN,...">
                    </mat-form-field>
                </div>
                <div class="search-btn">
                    <button mat-button color="primary">SEARCH</button>
                </div>
                <div class="select-field-main">
                    <select class="custom-inputs select-field">
                        <option>SCAN TO BOX</option>
                        <option>SCAN TO BOX</option>
                    </select>
                </div>

            </div>

            <div class="field-right">
                <button mat-button color="primary" class="box-setup full-dark-gary">
                    Box Setup
                </button>
            </div>
        </div>
        <!-- ////////////////// BOX CONTENT -- DESTAIL --- TABS/////////////// -->
        <div class="boxes-tabs-section">
            <div class="left-flex">
                <div class="boxes-tabs">

                    <div class="tab-main">
                        <div class="table-mian">
                            <table>
                                <ng-container>
                                    <tr class="row-back" *ngFor='let product of productList'>
                                        <td>
                                            <div class="table-check">
                                                <mat-checkbox class="example-margin"></mat-checkbox>

                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-main">
                                                <div class="product-img">
                                                    <img src="/assets/images/watch.png">
                                                </div>
                                                <div class="image-text">
                                                    <h3>{{product.name}}</h3>
                                                    <p><span>ASIN:</span>{{product.asin}}</p>
                                                    <p><span>SKU:</span>{{product.sku}}</p>
                                                    <p><span>FNSKU:</span>{{product.fnsku}}</p>
                                                    <p><span>labeling Requaired:</span>
                                                        {{product.required_labeling?'Yes':'No'}}</p>

                                                </div>

                                            </div>
                                        </td>
                                        <td>

                                            <diV class="overweight-inputs">
                                                <div class="flex1">
                                                    <div class="inputs-mian">

                                                        <label>Quantity</label>
                                                        <div class="custom-inputs box-input">
                                                        </div>
                                                    </div>
                                                    <button mat-button color="primary" class="dark-purpel split ml-2"
                                                        (click)="saplitpopup()">
                                                        Split Me
                                                    </button>

                                                </div>

                                            </diV>
                                        </td>
                                        <td class="tex-align">
                                            <button mat-button color="primary"
                                                class="boxed2 red-badge-shine remove">Remove
                                            </button>
                                            <div class="boxes-main">
                                                <button mat-button color="primary" class="boxed2 light-green">
                                                    Print Item Label
                                                </button>

                                            </div>

                                        </td>
                                    </tr>
                                </ng-container>

                                <tr class="row-back">
                                    <td>
                                        <div class="table-check">
                                            <mat-checkbox class="example-margin"></mat-checkbox>

                                        </div>
                                    </td>
                                    <td>
                                        <div class="product-main">
                                            <div class="product-img">
                                                <img src="/assets/images/watch.png">
                                            </div>
                                            <div class="image-text">
                                                <h3>item 1</h3>
                                                <p><span>ASIN:</span>0516882239</p>
                                                <p><span>SKU:</span>0516882239-Useditem-FBA</p>
                                                <p><span>FNSKU:</span>B00RN08585</p>
                                                <p><span>B00RN08585</span>
                                                </p>

                                            </div>

                                        </div>
                                    </td>
                                    <td class="overweight-td">

                                        <diV class="overweight-inputs">
                                            <div class="flex1 flex-center">
                                                <div class="inputs-mian">

                                                    <label>Quantity</label>
                                                    <div class=" quanity-border">
                                                        <p>3</p>
                                                    </div>
                                                </div>
                                                <div class="inputs-mian">

                                                    <label>Quantity</label>
                                                    <div class=" quanity-border">
                                                        <p>3</p>
                                                    </div>
                                                </div>



                                            </div>
                                            <h1>SPLITS:</h1>
                                            <button mat-button color="primary" class="box margin">
                                                box#2 Quantity 1
                                            </button>

                                        </diV>
                                    </td>
                                    <td class="tex-align">
                                        <button mat-button color="primary" class="boxed2 red-badge-shine remove">Remove
                                        </button>
                                        <div class="boxes-main">
                                            <button mat-button color="primary" class="boxed2 light-green">
                                                Print Item Label
                                            </button>

                                        </div>

                                    </td>
                                </tr>



                            </table>
                        </div>
                    </div>


                </div>
            </div>
            <div class="right-flex">
                <div class="right-boxes-back">
                    <h1>Boxe # 1</h1>
                    <div class="boxes-over-flow">
                        <div class="boxes-min-hight">
                            <div class="box-mian box-recive">
                                <div class="box-mian-padding select" style="margin-bottom: 10px;">
                                    <div class="box-btns  spacing">
                                        <button mat-button color="primary" class="light-green box1">Box 1
                                        </button>

                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Item:1</span>

                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Weight:8lb</span>
                                    </div>

                                </div>
                                <div class="box-mian-padding ">
                                    <div class="box-btns  spacing ">
                                        <button mat-button color="primary" class="light-green box1">Box 1
                                        </button>

                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Item:1</span>

                                    </div>
                                    <div class="box-btns spacing">
                                        <span class="list-text">Weight:8lb</span>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="box-add-btns">
                        <button mat-button color="primary" class=" Print-box">Print Box
                            (s)</button>
                        <button mat-button color="primary" class="blue-btn add-box">Add
                            Box</button>
                    </div>



                </div>

            </div>
        </div>




    </div>
</section>