<div class="header-main">
    <div class="header-inner">
        <div class="logo-btn">
            <div class="toggle" *ngIf="isLoggedIn">
                <mat-icon (click)="toggleMenu.emit(null)">
                    {{ isExpanded ? "keyboard_backspace" : "dehaze" }}
                </mat-icon>
            </div>

            <div class="logo">
                <img src="/assets/images/logo.png">
            </div>
        </div>
        <div class="header-menu">
                <div class="admin-message">
                        <p>Good Afternoon Sam</p>
                </div>
                <div class="top-menu-icons">
                    <span [matMenuTriggerFor]="menu" style="cursor: pointer;">
                        <mat-icon matBadge="4" matBadgeColor="warn" class="message-icon">
                            message
                        
                        </mat-icon>
                    </span>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            
                            <span>this is Message 1</span>
                        </button>
                        <button mat-menu-item >
                            <span>Message 2</span>
                        </button>
                        <button mat-menu-item>
                            <span>Message 3</span>
                        </button>
                    </mat-menu>
                    
                    
                    <mat-icon>
                        settings
                    </mat-icon>
                    <mat-icon>
                        account_circle
                    </mat-icon>
                </div>
        </div>
    </div>
</div>
