<div class="split-popup-section warning">
    <h1>You are adding more then 50 LBS to one box
        <mat-icon (click)='skipModal()'>close</mat-icon>
    </h1>
    <p>Doing so may incur:charge form Amazon</p>
    <div class="ammunt-input">
        <label for=""> Add Amount</label>
        <input type="number" value="3" class="input">
    </div>
    <div class=" proceed-btns">
        <button mat-button color="primary" class=" blue-btn Proceed">ADD</button>
        <button mat-button color="primary" class=" full-dark-gary  Proceed ">PROCEED WITH ALL</button>
        <button mat-button color="primary" (click)='skipModal()' class=" dark-gray-bdg  Proceed ">CANCEL</button>
    </div>
</div>