<div class="split-popup-section warning">
    <h1>You are adding more then 50 LBS to one box
        <mat-icon>close</mat-icon>
    </h1>
    <p>Doing so may incur:charge form Amazon</p>
    <div class="ammunt-input">
        <label for=""> Add Amount</label>
        <input type="text" value="3" class="input">
    </div>
    <div class=" proceed-btns">
        <a>cancle</a>
        <button mat-button color="primary" class=" light-green  Proceed ">PROCEED WITH ALL</button>
        <button mat-button color="primary" class=" blue-btn Proceed">ADD</button>
    </div>
</div>