<div class="dublicat-item-popup">
    <div class="popup-mian">
        <div class="popup-heading">
            <h1>OOPS...WE FOUND SOME DUPLICATE ITEMS:<span class="red-badge ">1</span></h1>
            <p>PLEASE SELECT THE ONE YOU WOULD LIKE TO USE AND THEN CHOOSE HOW YOU’D LIKE TO HANDLE THE QUANTITY BELOW:
            </p>
            <p><span>(Conflicting information is highlighted in red.)</span></p>
        </div>
        <div class="popup-table">
            <div class="table-main">
                <table>
                    <tr>
                        <th></th>
                        <th>SKU</th>
                        <th>ASIN | UPC</th>
                        <th>Unit Qty</th>
                        <th> Price</th>
                        <th>Condition</th>
                        <th>Label Owner</th>
                        <th>Prep Owner</th>
                    </tr>
                    <tr>
                        <td>
                            <mat-radio-button value="1"></mat-radio-button>
                        </td>
                        <td>FBA15FMTX9L3-NEW</td>
                        <td>B00RN08585</td>
                        <td><input type="text" class="custom-inputs input-width"></td>
                        <td><input type="text" class="custom-inputs input-width"></td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-radio-button value="1"></mat-radio-button>
                        </td>
                        <td>FBA15FMTX9L3-NEW</td>
                        <td>B00RN08585</td>
                        <td><input type="text" class="custom-inputs input-width"></td>
                        <td><input type="text" class="custom-inputs input-width"></td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="popup-table-buttons">
                <div class="text">
                    <h3>NOW DECIDE HOW YOU’D LIKE TO HANDLE THE QUANTITY:</h3>
                </div>
                <div class="button">
                    <div>
                        <input type="text" class="custom-inputs buttons-input">
                    </div>
                    <div>
                        <button mat-stroked-button color="primary" class="greenish-gry button-radius  update">UPDATE
              QYANTITY</button>
                    </div>
                    <div>
                        <button mat-stroked-button color="primary" class="orange-badge button-radius  marge">MERGE
              QUANTITY</button>
                    </div>
                    <div>
                        <button mat-stroked-button color="primary" class="dark-green button-radius  select">KEEP
              SELECTED ONLY</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-table">
            <div class="table-main">
                <table>
                    <tr>
                        <th></th>
                        <th>SKU</th>
                        <th>ASIN | UPC</th>
                        <th>Unit Qty</th>
                        <th> Price</th>
                        <th>Condition</th>
                        <th>Label Owner</th>
                        <th>Prep Owner</th>
                    </tr>
                    <tr>
                        <td>
                            <mat-radio-button value="1"></mat-radio-button>
                        </td>
                        <td>FBA15FMTX9L3-NEW</td>
                        <td>B00RN08585</td>
                        <td><input type="text" class="custom-inputs input-width"></td>
                        <td><input type="text" class="custom-inputs input-width"></td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-radio-button value="1"></mat-radio-button>
                        </td>
                        <td>FBA15FMTX9L3-NEW</td>
                        <td>B00RN08585</td>
                        <td><input type="text" class="custom-inputs input-width"></td>
                        <td><input type="text" class="custom-inputs input-width"></td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="popup-table-buttons">
                <div class="text">
                    <h3>NOW DECIDE HOW YOU’D LIKE TO HANDLE THE QUANTITY:</h3>
                </div>
                <div class="button">
                    <div>
                        <input type="text" class="custom-inputs buttons-input">
                    </div>
                    <div>
                        <button mat-stroked-button color="primary" class="greenish-gry button-radius  update">UPDATE
              QYANTITY</button>
                    </div>
                    <div>
                        <button mat-stroked-button color="primary" class="orange-badge button-radius  marge">MERGE
              QUANTITY</button>
                    </div>
                    <div>
                        <button mat-stroked-button color="primary" class="dark-green button-radius  select">KEEP
              SELECTED ONLY</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-table">
            <div class="table-main">
                <table>
                    <tr>
                        <th></th>
                        <th>SKU</th>
                        <th>ASIN | UPC</th>
                        <th>Unit Qty</th>
                        <th> Price</th>
                        <th>Condition</th>
                        <th>Label Owner</th>
                        <th>Prep Owner</th>
                    </tr>
                    <tr>
                        <td>
                            <mat-radio-button value="1"></mat-radio-button>
                        </td>
                        <td>FBA15FMTX9L3-NEW</td>
                        <td>B00RN08585</td>
                        <td><input type="text" class="custom-inputs input-width"></td>
                        <td><input type="text" class="custom-inputs input-width"></td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-radio-button value="1"></mat-radio-button>
                        </td>
                        <td>FBA15FMTX9L3-NEW</td>
                        <td>B00RN08585</td>
                        <td><input type="text" class="custom-inputs input-width"></td>
                        <td><input type="text" class="custom-inputs input-width"></td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                        <td>
                            <select name="cars" id="cars" class="custom-inputs input-width">
                <option value="NEW">NEW</option>

              </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="popup-table-buttons">
                <div class="text">
                    <h3>NOW DECIDE HOW YOU’D LIKE TO HANDLE THE QUANTITY:</h3>
                </div>
                <div class="button">
                    <div>
                        <input type="text" class="custom-inputs buttons-input">
                    </div>
                    <div>
                        <button mat-stroked-button color="primary" class="greenish-gry button-radius  update">UPDATE
              QYANTITY</button>
                    </div>
                    <div>
                        <button mat-stroked-button color="primary" class="orange-badge button-radius  marge">MERGE
              QUANTITY</button>
                    </div>
                    <div>
                        <button mat-stroked-button color="primary" class="dark-green button-radius  select">KEEP
              SELECTED ONLY</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
