///////////////////////////////////////////////////////////////BOX CONTENT DASHBOARD///////////////////
.box-content-section {
    .box-content-main {
        ////////////////// BOX CONTENT HEADING STYLE///////////////
        .page-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #b7bfbe;

            .heading-txt {
                display: flex;
                align-items: center;

                .mat-icon {
                    font-size: 60px;
                    color: #3eadf2;
                    margin-right: 10px;
                    width: 64px;
                    height: 64px;
                    vertical-align: middle;
                }
                .heading-flex {
                    display: flex;
                    align-items: center;
                    h1 {
                        margin: 0;
                        font-size: 30px;
                        color: #3eadf2;
                        font-weight: 700;
                        margin-right: 10px;
                    }
                }
            }
        }
        ////////////////// BOX CONTENT FIELDS STYLE///////////////
        .field-flex {
            display: flex;
            border-bottom: 1px solid #b7bfbe;

            .box-content-field {
                .fields-main {
                    display: flex;
                    align-items: center;
                    padding: 20px 30px;
                    justify-content: center;
                    .radio-text {
                        display: flex;
                        align-items: center;
                        .radio-btn {
                            margin-left: 20px;
                            .mat-radio-group {
                                display: flex;
                                flex-direction: column;
                            }
                            .mat-radio-button {
                                padding-bottom: 3px;
                            }
                            .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
                                border-color: #00aeef;
                            }
                            .mat-radio-button.mat-accent .mat-radio-inner-circle,
                            .mat-radio-button.mat-accent
                                .mat-radio-ripple
                                .mat-ripple-element:not(.mat-radio-persistent-ripple),
                            .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
                            .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
                                background-color: #00aeef;
                            }
                            .mat-radio-outer-circle {
                                background-color: #ffffff;
                            }
                        }
                        h4 {
                            font-size: 15px;
                            margin-bottom: 0;
                            display: block;
                            line-height: 1;
                            width: 57px;
                        }
                    }
                    .input-btn {
                        display: flex;
                        align-items: center;
                        flex-basis: 70%;
                        .input-main {
                            margin-left: 20px;
                            flex: 1;
                            .mat-form-field {
                                width: 100%;
                            }

                            .mat-form-field-infix {
                                padding: 10px 0;
                                border-top: none;
                            }
                            .mat-form-field-wrapper {
                                padding-bottom: 0px;
                            }
                            .mat-form-field-appearance-fill .mat-form-field-flex {
                                background-color: white;
                                border: 1px solid #e3e3e5;
                            }
                            .mat-form-field-appearance-fill .mat-form-field-flex {
                                border-radius: 4px 4px 4px 4px;
                                padding: 0px 9px 0px 9px;
                            }
                            .mat-form-field-underline {
                                width: auto;
                            }
                        }
                        .search-btn {
                            .browse {
                                background-color: #afb0b3 !important;
                            }
                            .mat-button,
                            .mat-icon-button,
                            .mat-stroked-button {
                                background-color: #00aeef;
                                margin-left: 20px;
                            }
                            .mat-button.mat-primary,
                            .mat-icon-button.mat-primary,
                            .mat-stroked-button.mat-primary {
                                color: #ffffff;
                            }
                        }
                        .fiter-icon {
                            display: flex;

                            cursor: pointer;

                            h3 {
                                font-size: 15px;
                                margin-bottom: 0;
                                display: block;
                                line-height: 1;
                                margin-right: 10px;
                            }
                            .mat-icon {
                                font-size: 30px;
                                color: #afb0b3;
                                display: block;
                            }
                            .download-icon {
                                font-size: 30px;
                                color: #39b54a;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        ////////////////// BOX CONTENT TABELS STYLE///////////////
        .box-conten-table-main {
            display: flex;
            margin-top: 30px;
            flex-wrap: wrap;
            .left-table {
                flex: 1;
                background-color: #ffff;
                border: 1px solid #e7e8e8;
                border-radius: 4px;
                margin-right: 16px;
                width: 100%;

                .table-heading {
                    display: flex;
                    align-items: center;
                    padding-bottom: 30px;
                    text-align: right;
                    padding: 7px 6px;
                    justify-content: space-between;
                    background-color: aliceblue;

                    .heading {
                        flex-basis: 50%;
                        h1 {
                            font-size: 22px;
                            font-weight: 400;
                            margin-bottom: 0;
                            color: #3eadf2;
                            text-align: left;
                        }
                    }

                    .heding-btn {
                        flex-basis: 50%;
                        .view-all {
                            background-color: #ff482e;
                            color: #ffffff;
                        }
                        .item-page {
                            background-color: #87c846;
                            color: #ffffff;
                        }
                    }
                }
                .table-main {
                    min-width: 650px;
                    table {
                        border-collapse: collapse;
                        width: 100%;
                        th {
                            padding: 6px 10px;
                            border-bottom: 1px solid #e7e8e8;
                            color: #929d9b;
                            font-weight: 500;
                            font-size: 13px;
                            line-height: 1;
                            span {
                                font-size: 10px;
                            }
                            img {
                                width: 17px;
                                vertical-align: middle;
                                margin-left: 6px;
                            }
                        }

                        td {
                            padding: 10px 10px;
                            border-bottom: 1px solid #e7e8e8;
                            color: #000;
                            line-height: 1;
                            text-align: center;
                            .close {
                                color: #ffff;
                                line-height: 26px;
                            }
                        }
                    }
                }
            }
            .right-table {
                flex: 1;
                background-color: #ffff;
                border: 1px solid #e7e8e8;
                border-radius: 4px;
                width: 100%;
                .table-heading {
                    display: flex;
                    align-items: center;
                    padding-bottom: 30px;
                    text-align: right;
                    padding: 7px 6px;
                    justify-content: space-between;
                    background-color: #f2fff0;

                    .heading {
                        flex-basis: 50%;
                        h1 {
                            font-size: 22px;
                            font-weight: 400;
                            margin-bottom: 0;
                            color: #87c846;
                            text-align: left;
                        }
                    }

                    .heding-btn {
                        flex-basis: 50%;
                        .view-all {
                            background-color: #ff482e;
                            color: #ffffff;
                        }
                        .item-page {
                            background-color: #87c846;
                            color: #ffffff;
                        }
                    }
                }
                .table-main {
                    min-width: 650px;
                    table {
                        border-collapse: collapse;
                        width: 100%;
                        th {
                            padding: 6px 10px;
                            border-bottom: 1px solid #e7e8e8;
                            color: #929d9b;
                            font-weight: 500;
                            font-size: 13px;
                            line-height: 1;
                            span {
                                font-size: 10px;
                            }
                            img {
                                width: 17px;
                                vertical-align: middle;
                                margin-left: 6px;
                            }
                        }

                        td {
                            padding: 6px 5px;
                            border-bottom: 1px solid #e7e8e8;
                            color: #000;
                            line-height: 1;
                            text-align: center;
                            .close {
                                color: #ffff;
                                line-height: 26px;
                            }
                            .view-edit-btns {
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                .flex1 {
                                    padding-right: 10px;
                                    flex-basis: 34%;
                                    .Boxed {
                                        border: 2px solid #87c846;
                                        padding: 1px 2px;
                                        color: #87c846;
                                        cursor: pointer;
                                    }
                                    .view-edit {
                                        color: #fff;
                                        margin-top: 10px;
                                        line-height: 22px;
                                        padding: 0px 0px;
                                        font-size: 10px;
                                    }
                                }
                                .flex2 {
                                    flex-basis: 50%;
                                    display: flex;
                                    .mat-icon {
                                        color: #87c846;
                                        margin-right: 5px;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
////////////////////////////////////////////////BOX -----CONTENT-----POPUPS//////////////////////
.boxed-popup {
    width: 500px;
    .heading {
        position: relative;
        margin-top: 10px;

        h1 {
            line-height: 1;
            margin-bottom: 10px;
        }
        .mat-icon {
            color: #000;
            top: 0;
            right: 0;
            position: absolute;
        }
        p {
            margin-bottom: 0px;
            line-height: 1;
        }
    }
    .popup-btn {
        text-align: right;
        margin-top: 20px;
        background-color: #88d3db;

        padding: 10px 8px 10px 6px;
        a {
            margin-right: 10px;
            font-size: 15px;
        }
        .add {
            line-height: 33px;
            color: #fff;
            font-size: 13px;
        }
    }
}
////////////////////////////////////////////////BOX -----EMPTY-----POPUP//////////////////////
.add-empty-popup {
    width: 500px;
    .add-empty-heading {
        position: relative;

        h2 {
            font-size: 22px;
            margin-bottom: 10px;
            line-height: 1;
        }
        .mat-icon {
            color: #000;
            top: 0;
            right: 0;
            position: absolute;
        }
    }
    h3 {
        font-size: 17px;
        margin-bottom: 10px;
        line-height: 1;
        margin-top: 10px;
    }
    .dimensions {
        display: flex;
        align-items: center;
        .input {
            width: 100px;
            border: 1px solid #e7ebea;
            border-radius: 5px;
            background-color: #fff;
            padding: 10px 10px;
            color: #000;
            font-size: 15px;
            margin-left: 10px;
            margin-right: 10px;
        }
        .input:focus {
            outline: none;
        }
    }
    .emty-value-btn {
        text-align: right;
        margin-top: 20px;
        background-color: #88d3db;

        padding: 10px 8px 10px 6px;
        a {
            margin-right: 10px;
            font-size: 15px;
        }
        .add {
            line-height: 33px;
            color: #fff;
            font-size: 13px;
        }
    }
}
//////////////////////////////////////////////BOX------MANIFEST------ POPUP////////////////////
.box-manifest-popup {
    width: 500px;
    position: relative;
    h1 {
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 1;
        font-weight: 500;
        .mat-icon {
            color: #000;
            top: 0;
            right: 0;
            position: absolute;
        }
    }
    .manifest-details {
        label {
            font-size: 15px;
            font-weight: 500;
        }
        .input {
            width: 100%;
            border: 1px solid #e7ebea;
            border-radius: 5px;
            background-color: #fff;
            padding: 10px 10px;
            color: #000;
            font-size: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .input:focus {
            outline: none;
        }
    }
    .manifest-btn {
        text-align: right;
        margin-top: 20px;
        background-color: #88d3db;
        padding: 10px 8px 10px 6px;
        a {
            margin-right: 10px;
            font-size: 15px;
        }
        .create {
            line-height: 33px;
            color: #fff;
            font-size: 13px;
        }
    }
}
/////////////////////////////////////////// BOX CONTENT HEADING HTML/////////////////////////////////
.content-details-section {
    margin-left: 10px;
    .content-details-main {
        ////////////////// BOX CONTENT HEADING STYLE///////////////
        .page-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #b7bfbe;

            .heading-txt {
                display: flex;
                align-items: center;
                .mat-icon {
                    font-size: 60px;
                    color: #3eadf2;
                    margin-right: 10px;
                    width: 64px;
                    height: 64px;
                    vertical-align: middle;
                }
                .heading-flex {
                    display: flex;
                    align-items: center;
                    h1 {
                        margin: 0;
                        font-size: 30px;
                        color: #3eadf2;
                        font-weight: 700;
                        margin-right: 10px;
                    }
                }
            }
        }
        ////////////////// field-flex --STYLE///////////////
        .field-flex {
            display: flex;
            align-items: center;
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #b7bfbe;
            .fields-main {
                flex-basis: 50%;
                display: flex;
                align-items: center;

                .input-main {
                    margin-left: 20px;
                    flex: 1;
                    .mat-form-field {
                        width: 100%;
                    }

                    .mat-form-field-infix {
                        padding: 10px 0;
                        border-top: none;
                    }
                    .mat-form-field-wrapper {
                        padding-bottom: 0px;
                    }
                    .mat-form-field-appearance-fill .mat-form-field-flex {
                        background-color: white;
                        border: 1px solid #e3e3e5;
                    }
                    .mat-form-field-appearance-fill .mat-form-field-flex {
                        border-radius: 4px 4px 4px 4px;
                        padding: 0px 9px 0px 9px;
                    }
                    .mat-form-field-underline {
                        width: auto;
                    }
                }
                .search-btn {
                    .browse {
                        background-color: #afb0b3 !important;
                    }
                    .mat-button,
                    .mat-icon-button,
                    .mat-stroked-button {
                        background-color: #00aeef;
                        margin-left: 20px;
                    }
                    .mat-button.mat-primary,
                    .mat-icon-button.mat-primary,
                    .mat-stroked-button.mat-primary {
                        color: #ffffff;
                    }
                }
                .select-field-main {
                    .select-field {
                        background-color: #fff;
                        margin-left: 20px;
                    }
                }
            }
            .field-right {
                flex-basis: 50%;
            }
        }
        ////////////////// boxes-tabs-section --STYLE///////////////
        .boxes-tabs-section {
            display: flex;

            .left-flex {
                flex-basis: 70%;
                .boxes-tabs {
                    background-color: #fff;
                    border: 1px solid #b7bfbe;
                    .heading {
                        font-size: 20px;
                        margin-bottom: 0;
                    }
                    .tab-main {
                        .table-mian {
                            table {
                                td {
                                    img {
                                        width: 30px;
                                    }
                                    h3 {
                                        font-size: 15px;
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .right-flex {
                flex-basis: 30%;
            }
        }
    }
}
