@media only screen and (max-width: 1400px) {
  .side-bar {
    .side-bar-main {
      .plan-sec {
        h3 {
          font-size: 12px;
        }
        .plan-main {
          .plan .flex {
            h4 {
              font-size: 11px;
            }
          }
        }
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 13px;
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              .item-name {
                p {
                  span {
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              .item-name {
                p {
                  font-size: 12px;

                  margin-bottom: 7px;
                }
              }
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              .item-name {
                .offers {
                  .offer-text {
                    h5 {
                      margin-bottom: 0px;
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              .item-name {
                .offers {
                  .offer-opption {
                    h5 {
                      margin-bottom: 5px;
                      font-size: 13px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head .item-name {
              .offers {
                .offer-opption {
                  h5 {
                    span {
                      background-color: #444431;

                      padding: 3px 7px;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              .item-brand {
                h3 {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              .item-brand {
                p {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              .item-date-mfrx {
                .item-date-mfr {
                  h3 {
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 4px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              .item-date-mfr {
                .rank-main .rank1 h3 {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              .item-date-mfr {
                .rank-main {
                  .rank2 {
                    p {
                      font-size: 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              .item-button {
                .button-link {
                  a {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              .item-button {
                .button-img {
                  margin-bottom: 0px;
                }
              }
            }
          }
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .new-add-item-detail {
              .new-add-item-main-detail {
                .new-heading-detail {
                  .heading-main h1 {
                    font-size: 25px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              padding: 0px 30px;
            }
          }
        }
      }
    }
  }

  .RestrictedPileTooltip {
    .tooltip-main {
      h1 {
        font-size: 15px;
        margin-bottom: 0px;
      }
    }
  }
  .RestrictedPileTooltip {
    .tooltip-main {
      p {
        font-size: 12px;
        line-height: 18px;
        width: 200px;
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              .item-date-mfr {
                h3 {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }

  .custom-button {
    width: 170px;
  }

  /////////////////////////////////////BOX-CONTENT--DASHBOARD////////////////////////////

  .content-details-section
    .content-details-main
    .boxes-tabs-section
    .left-flex
    .boxes-tabs
    .tab-main
    .table-mian
    table
    td
    .overweight-inputs
    .flex1
    .inputs-mian {
    flex-direction: column;
    width: 100px;
    margin-left: 0px;
    .box-input {
      margin-left: 0px;
    }
  }
  .content-details-section
    .content-details-main
    .boxes-tabs-section
    .left-flex
    .boxes-tabs
    .tab-main
    .table-mian
    table
    td
    .overweight-main {
    padding: 8px 3px;
  }

  .content-details-section
    .content-details-main
    .boxes-tabs-section
    .left-flex
    .boxes-tabs
    .tab-main
    .table-mian
    table
    td
    .overweight-inputs
    .flex1
    .inputs-mian
    .quanity-border {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1200px) {
  .app-selection {
    .selecting-app {
      .app-listing {
        .app1 {
          flex-basis: 27%;
        }
      }
    }
  }

  .add-items-right-bar .selected-items .revert-all {
    width: 20px;
  }

  .custom-button {
    width: 140px;
  }

  .rest-items-section {
    .rest-items-main {
      .destination-main {
        flex-basis: 48%;
        margin-top: 20px;
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .resubmit-section {
        .flex3 {
          .mat-form-field-infix {
            width: 160px;
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .resubmit-section {
        .flex5 {
          .mat-form-field-infix {
            width: 160px;
          }
        }
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .button-input {
        .upload-input {
          width: 170px;
        }
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .button-dropdown {
        .dropdown {
          .mat-form-field-infix {
            width: 200px;
          }
        }
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .heading-txt {
        .heading-flex {
          h1 {
            font-size: 18px;
            margin-right: 0px;
          }
        }
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .heading-txt {
        .mat-icon {
          font-size: 30px;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .button-dropdown {
        .button {
          margin-right: 10px;
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              padding: 0px 0px;
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              .item-brand {
                flex-basis: 29%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 994px) {
  .custom-button {
    width: unset;
  }

  .shipment-table-main {
    table {
      .mat-header-cell {
        font-size: 13px;
        padding: 3px;
        font-weight: 500;
      }
    }
  }
  .shipment-table-main {
    table {
      .mat-cell {
        .badgeCustom-label {
          padding: 1px 3px;
          font-size: 10px;
          width: auto;
          margin: auto;
        }
      }
    }
  }

  .content-details-section .content-details-main .page-heading .heading-txt .heading-flex h1 {
    font-size: 26px;
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .resubmit-section {
        .flex1 {
          h1 {
            font-size: 12px;
          }
        }
        h2 {
          font-size: 13px;
        }
      }
    }
  }

  .history-top-hheading {
    .history-page-heading {
      .button-input {
        .upload-input {
          width: 130px;
        }
      }
      .heading-txt {
        .heading-flex {
          h1 {
            font-size: 16px;
          }
        }
      }
      .button-dropdown {
        .dropdown {
          .mat-form-field-infix {
            width: 130px;
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .page-heading {
        .heading-txt {
          .mat-icon {
            font-size: 40px;
            width: 40px;
            height: 40px;
          }
          .heading-flex {
            h1 {
              font-size: 23px;
            }
          }
        }
      }
      .status-tabs {
        .mat-tab-body-content {
          .multipel-item-main {
            .item-Head {
              padding: 0px 0px;
              .item-name {
                h3 {
                  font-size: 20px;
                  margin-bottom: 0px;
                }
                p {
                  font-size: 12px;
                  margin-bottom: 3px;
                  span {
                    font-size: 17px;
                  }
                }
                .offers {
                  .offer-text {
                    h5 {
                      font-size: 12px;
                    }
                  }
                }
              }
              .item-brand {
                h3 {
                  font-size: 12px;
                }
                p {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      .proccesisng-upload-table {
        .table-heading {
          .item-status {
            h1 {
              font-size: 14px;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .proccesisng-upload-table {
        .table-heading {
          .item-status {
            h3 {
              font-size: 14px;

              margin-right: 13px;
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .proccesisng-upload-table {
        .table-heading {
          .item-status {
            h4 {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .content-details-section .content-details-main .page-heading .heading-txt .mat-icon {
    font-size: 41px;
    width: 48px;
    height: 43px;
  }
  .content-details-section .content-details-main .boxes-tabs-section {
    flex-direction: column;
  }
  .content-details-section .content-details-main .boxes-tabs-section .right-flex {
    flex-basis: 100%;
    width: 100%;
    margin-top: 25px;
  }
  .content-details-section .content-details-main .boxes-tabs-section .left-flex {
    flex-basis: 100%;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 860px) {
  .app-selection {
    .selecting-app {
      .app-listing {
        .app1 {
          flex-basis: 42%;
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .resubmit-section {
        .flex3 {
          .mat-form-field-infix {
            width: 120px;
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .resubmit-section {
        .flex5 {
          .mat-form-field-infix {
            width: 120px;
          }
        }
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      flex-direction: column;
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .button-input {
        flex-basis: 100%;
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .heading-txt {
        flex-basis: 100%;
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .button-dropdown {
        flex-basis: 100%;
        flex-direction: column;
        text-align: center;
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .button-input {
        .input-main {
          margin-right: 10px;
        }
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .button-dropdown {
        .button {
          margin-right: 0px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .button-dropdown {
        .dropdown {
          .mat-form-field-infix {
            width: 220px;
          }
        }
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .heading-txt {
        .mat-icon {
          font-size: 32px;
          width: 39px;
          height: 39px;
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .page-heading {
        .heading-txt {
          justify-content: center;
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .page-heading {
        flex-direction: column;
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .page-heading {
        .button-dropdown {
          justify-content: center;
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .page-heading {
        .button-dropdown {
          flex-direction: column;
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .page-heading {
        .button-dropdown {
          .dropdown {
            label {
              text-align: center;
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .page-heading {
        .button-dropdown {
          .button {
            margin-right: 0px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .button {
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .proccesisng-upload-table {
        .table-heading {
          .heading-text {
            h1 {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .proccesisng-upload-table {
        .table-heading {
          flex-direction: column;
          .item-status {
            h3 {
              font-size: 12px;
              margin-right: 9px;
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .proccesisng-upload-table {
        .table-heading {
          .item-status {
            h1 {
              font-size: 13px;
              margin-right: 9px;
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .proccesisng-upload-table {
        .table-heading {
          .item-status {
            h4 {
              span {
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .proccesisng-upload-table {
        .table-heading {
          .item-status {
            h3 {
              span {
                margin-left: 4px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .app-selection {
    .selecting-app {
      flex-wrap: wrap;
    }
  }

  .app-selection {
    .selecting-app {
      .app-listing {
        flex-basis: 100%;
      }
    }
  }

  .app-selection {
    .selecting-app {
      .pricing {
        flex-basis: 100%;
        padding: 30px;
      }
    }
  }
  .app-selection {
    .selecting-app {
      .app-listing {
        .app1 {
          flex-basis: 42%;
        }
      }
    }
  }
  .app-selection {
    .color-stripe {
      height: 50px;
    }
  }
  .app-selection {
    .descp {
      padding: 50px 20px;
    }
  }

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    padding: 5px 16px;
  }

  .content-details-section .content-details-main .page-heading .heading-txt .heading-flex h1 {
    font-size: 20px;
  }

  .content-details-section .content-details-main .field-flex .fields-main .input-main {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .content-details-section .content-details-main .field-flex {
    justify-content: center;
    flex-direction: column;
  }
  .content-details-section .content-details-main .field-flex .fields-main {
    flex-direction: column;
  }
  .content-details-section .content-details-main .field-flex .fields-main .search-btn .mat-button {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .content-details-section .content-details-main .field-flex .fields-main .select-field-main .select-field {
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .mat-radio-button {
    margin-left: 10px;
  }

  .rest-items-section {
    .rest-items-main {
      .destination-main {
        flex-basis: 100%;
        margin-top: 20px;
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .resubmit-section {
        flex-direction: column;
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .resubmit-section .flex1 h1 {
        font-size: 15px;
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .resubmit-section {
        h2 {
          font-size: 15px;
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .resubmit-section {
        .flex3 {
          .mat-form-field-infix {
            width: 220px;
          }
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .resubmit-section {
        .flex5 {
          .mat-form-field-infix {
            width: 220px;
          }
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .resubmit-section {
        .flex2 {
          margin-right: 0;
          margin-top: 10px;
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .resubmit-section {
        h2 {
          margin-bottom: 10px;
        }
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .resubmit-section {
        .flex4 {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }

  //////////////////////////////////////////////////BOX---CONTENT-DASHBOARD////////////////////////

  .content-details-section .content-details-main .page-heading {
    justify-content: center;
  }
  /////////////////////////////////app-suite///////////////////////////////////////
}

@media only screen and (max-width: 530px) {
  .app-selection {
    .selecting-app {
      .app-listing {
        .app1 {
          flex-basis: 100%;
        }
      }
    }
  }

  .content-details-section .content-details-main .page-heading {
    flex-direction: column;
  }
  .content-details-section .content-details-main .page-heading .heading-txt {
    flex-direction: column;
  }

  .mat-radio-group {
    margin-right: 10px;
  }

  .history-top-hheading {
    margin-top: 17px;
  }
  .history-top-hheading {
    .history-page-heading {
      .heading-txt {
        flex-basis: 30%;
        flex-direction: column;
      }
    }
  }

  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .page-heading {
        .heading-txt {
          .heading-flex {
            flex-direction: column;
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .page-heading .heading-txt {
        flex-direction: column;
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .proccesisng-upload-table {
        .table-heading {
          .item-status {
            flex-direction: column;
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .proccesisng-upload-table {
        .table-heading {
          .item-status h1 {
            margin-bottom: 7px;
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .proccesisng-upload-table {
        .table-heading {
          .item-status h3 {
            margin-bottom: 7px;
          }
        }
      }
    }
  }
  .bulk-item-detail-section {
    .bulk-item-detail-main {
      .proccesisng-upload-table {
        .table-heading {
          .item-status {
            h4 {
              margin-bottom: 7px;
            }
          }
        }
      }
    }
  }

  .breadcrumbs-main .breadcrumbs-inner {
    flex-direction: column;
  }
  ////////////////////////////////////BOX -- CONTENT --DASHBOARD////////////////////////////////
}

@media only screen and (max-width: 460px) {
  .history-top-hheading {
    .history-page-heading {
      .button-input {
        flex-basis: 100%;
        flex-direction: column;
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .button-input {
        .upload-input {
          width: 100%;
        }
      }
    }
  }
  .history-top-hheading {
    .history-page-heading {
      .button-input {
        .search {
          margin-top: 10px;
        }
      }
    }
  }

  ////////////////////////////////////////BOX----CONTENT --- DASHBOARD//////////////////////////

  .add-app-section-main .app-add-main .display-main .flex .add-app-border .scan-ship-main {
    flex-direction: column-reverse;

    text-align: center;
  }
  .add-app-section-main .add-app-heading {
    align-items: center;
    flex-direction: column;
  }
  .add-app-section-main .add-app-heading .heading-flex2 {
    margin-top: 10px;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .scan-ship-main .image {
    margin: auto;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .plan {
    text-align: center;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .Package-main {
    align-items: center;
    flex-direction: column;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .Package-main .list-Package p {
    text-align: center;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border a {
    text-align: center;
    display: block;
  }
  .add-app-section-main .add-app-heading .heading-flex {
    padding-left: 0;
    text-align: center;
  }
}
