<section class="slect-package-section">
    <div class="left-section">
        <carousel [cellsToShow]="3" [margin]="20" [height]="110">
            <div class="carousel-cell">
                <div class="package-main">
                    <button mat-button color="primary" class="add-more-app">
                        ADD More App
                    </button>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="package-main">
                    <div class="package-border">
                        <div class="app-text">
                            <h1>Scan + Ship App</h1>
                            <p>You will be charged a monthly<br>
                                subscription fee of $199.</p>
                        </div>
                        <div class="app-image">
                            <img src="/assets/images/blod.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="package-main">
                    <div class="package-border">
                        <div class="app-text">
                            <h1>Scan + Ship App</h1>
                            <p>You will be charged a monthly<br>
                                subscription fee of $199.</p>
                        </div>
                        <div class="app-image">
                            <img src="/assets/images/blod.png">
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-cell">
                <div class="package-main">
                    <div class="package-border">
                        <div class="app-text">
                            <h1>Scan + Ship App</h1>
                            <p>You will be charged a monthly<br>
                                subscription fee of $199.</p>
                        </div>
                        <div class="app-image">
                            <img src="/assets/images/blod.png">
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-cell">
                <div class="package-main">
                    <div class="package-border">
                        <div class="app-text">
                            <h1>Scan + Ship App</h1>
                            <p>You will be charged a monthly<br>
                                subscription fee of $199.</p>
                        </div>
                        <div class="app-image">
                            <img src="/assets/images/blod.png">
                        </div>
                    </div>
                </div>
            </div>

        </carousel>
        <div class="marketplace-main">
            <div class="flex-1">
                <div class="flex-boder">
                    <p>You may add more Marketplaces for $149/month each.</p>
                    <div class="plus-minus-btn">
                        <div class="remove">
                            <mat-icon>remove_circle</mat-icon>
                        </div>
                        <div class="btn-txt">
                            <p>01</p>
                        </div>
                        <div class="add">
                            <mat-icon>add_circle</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-2">
                <div class="flex-boder">
                    <p>You may add more Marketplaces for $149/month each.</p>
                    <div class="plus-minus-btn">
                        <div class="remove">
                            <mat-icon>remove_circle</mat-icon>
                        </div>
                        <div class="btn-txt">
                            <p>01</p>
                        </div>
                        <div class="add">
                            <mat-icon>add_circle</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="plans-select-main">
            <div class="flex1">
                <div class="plan-border">
                    <div class="plan-main">
                        <div class="text">
                            <h1>Basic <span>$200/month</span> </h1>
                            <p>Package Tier Includes:</p>
                        </div>
                        <div class="arrow">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                    </div>
                    <div class="plan-list-main">
                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="green-icon">cancel</mat-icon> -->
                                <img src="/assets/images/added.png">
                            </div>
                        </div>
                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="red">cancel</mat-icon> -->
                                <img src="/assets/images/remove.png">
                            </div>
                        </div>
                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="red">cancel</mat-icon> -->
                                <img src="/assets/images/remove.png">
                            </div>
                        </div>

                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="green-icon">cancel</mat-icon> -->
                                <img src="/assets/images/added.png">
                            </div>
                        </div>
                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="green-icon">cancel</mat-icon> -->
                                <img src="/assets/images/added.png">
                            </div>
                        </div>
                    </div>

                    <div class="plan-button">
                        <button mat-button color="primary" class="select">
                            Select
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex1">
                <div class="plan-border">
                    <div class="plan-main">
                        <div class="text">
                            <h1>Basic <span>$200/month</span> </h1>
                            <p>Package Tier Includes:</p>
                        </div>
                        <div class="arrow">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                    </div>
                    <div class="plan-list-main">
                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="green-icon">cancel</mat-icon> -->
                                <img src="/assets/images/added.png">
                            </div>
                        </div>
                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="red">cancel</mat-icon> -->
                                <img src="/assets/images/remove.png">
                            </div>
                        </div>
                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="red">cancel</mat-icon> -->
                                <img src="/assets/images/remove.png">
                            </div>
                        </div>

                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="green-icon">cancel</mat-icon> -->
                                <img src="/assets/images/added.png">
                            </div>
                        </div>
                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="green-icon">cancel</mat-icon> -->
                                <img src="/assets/images/added.png">
                            </div>
                        </div>
                    </div>
                    <div class="plan-button">
                        <button mat-button color="primary" class="select">
                            Select
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex1">
                <div class="plan-border">
                    <div class="plan-main">
                        <div class="text">
                            <h1>Basic <span>$200/month</span> </h1>
                            <p>Package Tier Includes:</p>
                        </div>
                        <div class="arrow">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                    </div>
                    <div class="plan-list-main">
                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="green-icon">cancel</mat-icon> -->
                                <img src="/assets/images/added.png">
                            </div>
                        </div>
                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="red">cancel</mat-icon> -->
                                <img src="/assets/images/remove.png">
                            </div>
                        </div>
                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="red">cancel</mat-icon> -->
                                <img src="/assets/images/remove.png">
                            </div>
                        </div>

                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="green-icon">cancel</mat-icon> -->
                                <img src="/assets/images/added.png">
                            </div>
                        </div>
                        <div class="plan-list">
                            <div>
                                <p>1 Initial Concept Included</p>
                            </div>
                            <div>
                                <!-- <mat-icon class="green-icon">cancel</mat-icon> -->
                                <img src="/assets/images/added.png">
                            </div>
                        </div>
                    </div>
                    <div class="plan-button">
                        <input type="radio" id="radio" name="fav_language" value="HTML">
                        <button mat-button for="radio" color="primary" class="select">
                            Select
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="package-right-side-bar">
            <div class="package-side-bar-buttons">
                <button mat-button color="primary" class="select1">
                    Select
                </button><button mat-button color="primary" class="select">
                    Select
                </button>
            </div>
            <h1>Your Total Billing</h1>
            <div class="pakages-plan-table">
                <div class="table-headings">
                    <h3>Scan + Ship App</h3>
                    <p>You will be charged a monthly subscription fee of $199.</p>
                    <p>Included with your subscription are:</p>

                </div>
                <div class="table-main">
                    <table>
                        <tr>
                            <td>
                                1 Market Place + 2 User's
                            </td>
                            <td class="tex-right">
                                $348.00 USD
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Setup Fee
                            </td>
                            <td class="tex-right">
                                $348.00 USD
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Basic Tier Package Fee
                            </td>
                            <td class="tex-right">
                                $348.00 USD
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total / month
                            </td>
                            <td class="tex-right red">
                                $348.00 USD
                            </td>
                        </tr>


                    </table>
                </div>
            </div>
            <div class="pakages-plan-table back">
                <div class="table-headings">
                    <h3>Bleed Report App</h3>
                    <p>You will be charged a monthly subscription fee of $199.</p>
                    <p>Included with your subscription are:</p>

                </div>
                <div class="table-main">
                    <table>
                        <tr>
                            <td>
                                1 Market Place + 2 User's
                            </td>
                            <td class="tex-right">
                                $348.00 USD
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Setup Fee
                            </td>
                            <td class="tex-right">
                                $348.00 USD
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Basic Tier Package Fee
                            </td>
                            <td class="tex-right">
                                $348.00 USD
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total / month
                            </td>
                            <td class="tex-right red">
                                $348.00 USD
                            </td>
                        </tr>


                    </table>
                </div>
            </div>
            <div class="total-payment">
                <div>
                    <h3>Grand Total</h3>
                </div>
                <div>
                    <h2>$1,792.00 USD</h2>
                </div>
            </div>
            <div class="pay-now">
                <h3>Pay Now</h3>
            </div>
        </div>
    </div>

</section>