//////////////////////////////////////ADD--APP--HEADINGS//////////////////////////////
.add-app-section-main {
  padding: 10px 20px;

  .add-app-heading {
    display: flex;
    align-items: center;
    .heading-flex {
      flex-basis: 50%;
      padding-left: 10px;
      h2 {
        font-size: 19px;
        margin-bottom: 2px;
        line-height: 1;
        span {
          color: #3eadf2;
        }
      }
      p {
        font-size: 13px;
        margin-bottom: 0px;
        line-height: 1;
        color: #666666;
      }
    }
    .heading-flex2 {
      flex-basis: 50%;
      text-align: right;
      padding-right: 10px;
      .Continue {
        color: #ffffff;
      }
    }
  }
  .app-add-main {
    margin-top: 20px;
    .display-main {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 30px;
      flex-wrap: wrap;
      .flex {
        flex-basis: 32%;
        margin-top: 10px;
        .add-app-border {
          border: 1px solid #6666667e;
          border-radius: 7px;
          padding: 10px;

          .scan-ship-main {
            display: flex;
            justify-content: space-between;
            .heading {
              h2 {
                margin-bottom: 8px;
                line-height: 1;
                font-size: 19px;
                color: #666666;
                font-weight: 400;
              }
              p {
                font-size: 13px;
                margin-bottom: 10px;
                line-height: 1;
                color: #666666;
              }
            }
            .image {
              width: 52px;
              img {
                width: 100%;
              }
            }
          }
          .plan {
            padding-top: 10px;
            h4 {
              color: #ff0000;
              font-size: 12px;
              line-height: 1;
              margin-bottom: 8px;
            }
            h3 {
              font-size: 17px;
              line-height: 1;
              margin-bottom: 0px;
              color: #666666;
            }
          }
          .Package-main {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-end;
            justify-content: space-between;
            margin-top: 10px;

            .list-Package {
              p {
                margin-bottom: -5px;
                line-height: 1;
                color: #666666;
              }
              ul {
                padding-left: 16px;
                margin-top: 10px;
                margin-bottom: 10px;
                li {
                  font-size: 12px;
                  color: #666666;
                  margin-bottom: 3px;
                  line-height: 1.5;
                }
              }
            }
            .Package-btn {
              input.add-app-input {
                opacity: 0;
                width: 0;
                height: 0;
                margin: 0;
                visibility: hidden;
              }
              .added-app-btn {
                background-color: transparent;
                border: 1px solid #ff0000;
                color: #000;
                border-radius: 5px !important;
                padding: 15px 31px;
                display: block;
                cursor: pointer;
              }
              .added-app-btn:hover {
                background-color: #ff0000 !important;
                color: #fff;
              }

              input.add-app-input[type="checkbox"]:checked + label {
                background-color: #ff0000 !important;
                color: #fff;
                content: "App Added";
              }
            }
          }
          a {
            color: #00aeef;
            margin-bottom: 0px;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.header-app-suite {
  background-image: url(/assets/images/appsuite-top.png);
  background-size: cover;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-apsuite {
  .footer-image {
    background-image: url(/assets/images/appsuite-bottom.png);
    background-size: cover;
    height: 72px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .footer-text {
    background-color: #45bbd7;
    padding: 10px;
    width: 100%;
    p {
      font-size: 14px;
      color: #fff;
      text-align: center;
      margin-bottom: 0;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .Package-main .Package-btn .added-app-btn {
    padding: 7px 13px;
  }
}
@media only screen and (max-width: 994px) {
  .add-app-section-main .app-add-main .display-main .flex {
    flex-basis: 48%;
  }
}
@media only screen and (max-width: 768px) {
  .add-app-section-main {
    .add-app-heading {
      .heading-flex {
        h2 {
          font-size: 14px;
        }
      }
    }
  }
  .add-app-section-main .app-add-main .display-main .flex {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 530px) {
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .scan-ship-main .heading h2 {
    font-size: 16px;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .scan-ship-main .heading p {
    font-size: 11px;
    margin-bottom: 3px;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .plan {
    padding-top: 3px;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .scan-ship-main .image {
    width: 45px;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border a {
    text-align: center;
    display: block;
  }
}
@media only screen and (max-width: 460px) {
  .footer-apsuite .footer-text p {
    font-size: 11px;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .scan-ship-main {
    flex-direction: column-reverse;

    text-align: center;
  }
  .add-app-section-main .add-app-heading {
    align-items: center;
    flex-direction: column;
  }
  .add-app-section-main .add-app-heading .heading-flex2 {
    margin-top: 10px;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .scan-ship-main .image {
    margin: auto;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .plan {
    text-align: center;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .Package-main {
    align-items: center;
    flex-direction: column;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border .Package-main .list-Package p {
    text-align: center;
  }
  .add-app-section-main .app-add-main .display-main .flex .add-app-border a {
    text-align: center;
    display: block;
  }
  .add-app-section-main .add-app-heading .heading-flex {
    padding-left: 0;
    text-align: center;
  }
}
