@import "/src/assets/styles/variables.scss";
@import "/src/assets/styles/responsive-styles.scss";
::ng-deep .shipping-listing-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 14px;
  .title {
    display: flex;
    align-items: center;
    .mat-icon {
      font-size: 60px;
      color: $secondarycolor;
      margin-right: 10px;
      width: 64px;
      height: 64px;
    }
    h1 {
      margin: 0;
      font-size: 30px;
      color: $secondarycolor;
      font-weight: 700;
    }
  }
  .search-form {
    input {
      border: 1px solid #f1eff0;
      padding: 10px;
      font-size: 14px;
      border-radius: 4px;
      margin-right: 20px;
      width: 550px;
    }
    input:focus {
      outline: none;
    }
    button {
      background-color: $secondarycolor;
      text-transform: uppercase;
    }
  }
}
::ng-deep .shipment-table-main {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;

  .table {
    padding: 0 10px;
    min-width: 1200px;
  }
  table {
    width: 100%;
    box-shadow: none;
    padding-top: 20px;
    border-collapse: collapse;
    th {
      font-size: 13px;
      border-right: 1px solid #dddddd59;
      text-align: center;
      padding: 5px;
      font-weight: 500;
      color: $greenish-gry;
      border-bottom: 1px solid #dddddd59;
      .mat-icon {
        vertical-align: middle;
        font-size: 19px;
      }
      span {
        font-size: 12px;
        font-weight: 300;
      }
    }
    td {
      border-bottom: 1px solid #b7bfbe7a;
      border-right: 1px solid #dddddd59;
      font-size: 16px;
      padding: 6px 5px;
      p {
        font-size: 12px;
        margin-bottom: 0;
        line-height: 1;
        .us {
          border-radius: 3px;
          padding: 3px;
          margin-left: 6px;
          color: #ffffff;
        }
        .time {
          font-size: 12px;
          color: $greenish-gry;
        }
      }
      h1 {
        font-size: 15px;
        margin-bottom: 0;
        line-height: 1;
        .new {
          border-radius: 3px;
          padding: 3px;
          margin-right: 5px;
          font-size: 13px;
          color: #ffffff;
        }
      }
      .saler {
        line-height: 20px;
        padding: 2px 0px;
        color: #ffffff;
        font-size: 11px;
        width: 85px;
      }
      .staderd {
        line-height: 20px;
        padding: 2px 0px;
        color: #ffffff;
        font-size: 11px;
        width: 85px;
      }
      .closed {
        line-height: 20px;
        padding: 2px 0px;
        color: #ffffff;
        font-size: 11px;
        width: 87px;
      }
    }
    td:nth-last-child(1) {
      border-right: none;
    }
    th:nth-last-child(1) {
      border-right: none;
    }
    // .link {
    //     cursor: pointer;
    //     color: #fbc893;
    //     text-decoration: underline;
    // }
    // .mat-cell {
    //     font-size: 13px;
    //     border-right: 1px solid #ddd;
    //     text-align: center;
    //     padding: 5px;
    // }
    // .mat-header-cell {
    //     font-size: 13px;
    //     border-right: 1px solid #ddd;
    //     text-align: center;
    //     padding: 5px;
    //     font-weight: 700;
    // }
    // .mat-header-cell:last-child {
    //     border-right: 0;
    // }
    // .mat-cell:last-child {
    //     border-right: 0;
    // }
  }
  .mat-paginator {
    border-radius: 5px;
  }
}
@media only screen and (max-width: 1200px) {
  .shipping-listing-search .search-form input {
    width: 450px;
  }
}
@media only screen and (max-width: 994px) {
  .shipping-listing-search {
    .title {
      h1 {
        font-size: 20px;
      }
    }
  }
  .shipping-listing-search {
    .title {
      .mat-icon {
        font-size: 40px;
        width: 40px;
        height: 47px;
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .shipping-listing-search .search-form input {
    width: 350px;
  }
}
@media only screen and (max-width: 768px) {
  .shipping-listing-search {
    flex-direction: column;
    .search-form {
      display: flex;
      flex-direction: column;
    }
  }
  .shipping-listing-search .search-form input {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .shipping-listing-search .search-form input {
    width: 250px;
  }
}
