<section class="box-content-section">
    <div class="box-content-main">
        <!-- ////////////////// BOX CONTENT HEADING HTML/////////////// -->
        <div class="page-heading">
            <div class="heading-txt">
                <div>
                    <mat-icon>inventory_2</mat-icon>
                </div>
                <div class="heading-flex">
                    <h1>Box Templates</h1>
                </div>
            </div>

            <div class="box-content-button">
                <div class="button">
                    <button mat-raised-button color="primary" class="bluesh-white"> Create
                        Box</button>
                </div>

            </div>
        </div>

        <!-- ////////////////// BOX CONTENT FIELDS HTML/////////////// -->

        <!-- ////////////////// BOX CONTENT TABELS HTML/////////////// -->
        <div class="box-conten-table-main">
            <div class="right-table">
                <div class="table-heading">
                    <div class="heading">
                        <h1>Saved Templates</h1>
                    </div>

                    <div class="heding-btn">
                        <button mat-button class="view-all gary-light-badge  mr-2">Box Setup</button>
                        <button mat-button color="primary" class="view-all light-red">VIEW
                            ALL</button>
                    </div>
                </div>
                <div class="tabl-scrol">
                    <div class="table-main">
                        <table>
                            <tr>
                                <th>
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                                </th>
                                <th>Template Name</th>
                                <th>Weight Unit</th>
                                <th>Weight Capacity</th>

                                <th>Dimension Unit
                                </th>
                                <th>Length
                                </th>
                                <th>Width</th>

                                <th>Height</th>
                                <th>Actions</th>


                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                                </td>
                                <td>

                                    <a class="orange">Testing Box Template 01</a>
                                </td>
                                <td> Pounds</td>
                                <td>10
                                </td>
                                <td>Inches</td>
                                <td>1</td>
                                <td>10
                                </td>
                                <td>10
                                </td>
                                <td>
                                    <div class="boxed-main">

                                        <mat-icon class="gray-icon">edit</mat-icon>
                                        <mat-icon class="red">delete</mat-icon>

                                    </div>
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                                </td>
                                <td>

                                    <a class="orange">Testing Box Template 01</a>
                                </td>
                                <td> Pounds</td>
                                <td>10
                                </td>
                                <td>Inches</td>
                                <td>1</td>
                                <td>10
                                </td>
                                <td>10
                                </td>
                                <td>
                                    <div class="boxed-main">

                                        <mat-icon class="gray-icon">edit</mat-icon>
                                        <mat-icon class="red">delete</mat-icon>

                                    </div>
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                                </td>
                                <td>

                                    <a class="orange">Testing Box Template 01</a>
                                </td>
                                <td> Pounds</td>
                                <td>10
                                </td>
                                <td>Inches</td>
                                <td>1</td>
                                <td>10
                                </td>
                                <td>10
                                </td>
                                <td>
                                    <div class="boxed-main">

                                        <mat-icon class="gray-icon">edit</mat-icon>
                                        <mat-icon class="red">delete</mat-icon>

                                    </div>
                                </td>


                            </tr>



                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>